# Data Cleaning Notebook

Welcome to the Data Cleaning Notebook. This notebook is dedicated to cleaning the dataset to ensure that it's well-suited for Exploratory Data Analysis (EDA) and modeling. 

## Objectives:
- **Joining Datasets**: Combining the movies dataset with the credits dataset using 'id' as the common key.
- **Identifying Missing Values**: Detecting and handling missing data.
- **Data Type Conversion**: Ensuring each column is of the correct data type.
- **Handling Duplicates**: Identifying and removing duplicate entries.
- **Identifying Duplicate Columns**: Examining columns that may duplicate information and deciding which ones to keep.
- **Dropping Non-useful Columns**: Removing columns that do not provide useful information for analysis or modeling

## Datasets:

**Movies Dataset**: Contains combined data from OMDB and TMDB APIs, saved in data/movies.parquet.

**Credits Dataset**: Contains crew and cast data for each movie, saved in data/credits.parquet.

In [49]:
import pandas as pd
import numpy as np

Let's read movies dataset, which combined from 2 APIs and look at its shape and columns.

In [95]:
df = pd.read_parquet('../data/movies.parquet')
print(df.shape)
print(df.columns)
pd.set_option('display.max_columns', None)
df.head(10)

(5613, 59)
Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'Title', 'Year', 'Rated', 'Released',
       'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language',
       'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production',
       'Website', 'Response', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'totalSeasons', 'Season',
       'Episode', 'seriesID', 'Error'],
      dtype='object')

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,totalSeasons,Season,Episode,seriesID,Error
0,False,/1FrKhMDGMwpry6vDLyRbgLdBSE1.jpg,None,200000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",,28501,tt0055304,en,The Pit and the Pendulum,"In the sixteenth century, Francis Barnard trav...",9.49,/dSdDtWebN6NwUM3D2bejPRCKcDT.jpg,"[{'id': 4820, 'logo_path': None, 'name': 'Alta...","[{'iso_3166_1': 'US', 'name': 'United States o...",1961-08-12,2000000,81,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Betrayal cuts both ways!,The Pit and the Pendulum,False,6.83,288,The Pit and the Pendulum,1961,Not Rated,23 Aug 1961,80 min,"Drama, Horror, Mystery",Roger Corman,"Richard Matheson, Edgar Allan Poe","Vincent Price, Barbara Steele, John Kerr","In the sixteenth century, Francis Barnard trav...",English,United States,N/A,https://m.media-amazon.com/images/M/MV5BZGY1OD...,"[{'Source': 'Internet Movie Database', 'Value'...",78,7.0,"15,801",tt0055304,movie,16 Sep 2008,N/A,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None
1,False,/ffRq48IlOKcAMeM7rGpJRPzRsSh.jpg,None,14000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",,28510,tt1288403,en,Universal Soldier: Regeneration,When terrorists threaten nuclear catastrophe a...,15.84,/hYLzRwCcCyTVKGBRAiHEW7NOEni.jpg,"[{'id': 21897, 'logo_path': None, 'name': 'For...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-10-01,875386,97,"[{'english_name': 'Bulgarian', 'iso_639_1': 'b...",Released,Reanimated. Rearmed. The ultimate rematch,Universal Soldier: Regeneration,False,5.60,405,Universal Soldier: Regeneration,2009,R,07 Jan 2010,97 min,"Action, Adventure, Sci-Fi",John Hyams,"Richard Rothstein, Christopher Leitch, Dean De...","Dolph Lundgren, Jean-Claude Van Damme, Andrei ...",Terrorists kidnap the Russian Prime Minister's...,"English, Bulgarian",United States,N/A,https://m.media-amazon.com/images/M/MV5BODAzMD...,"[{'Source': 'Internet Movie Database', 'Value'...",70,5.3,"26,273",tt1288403,movie,16 Apr 2012,N/A,N/A,N/A,True,10713.00,Universal Soldier Collection,/w6VKg5MJFmoACGgLcDUMmNSPYOv.jpg,/dpcjRnOTkbyHWGE0lEmgzz3ACTm.jpg,None,None,None,None,None
2,False,/56eHAxXfZTz5pGiVDCFnuiHw2fp.jpg,None,2600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,28571,tt0041452,en,The Heiress,Dull and plain Catherine lives with her emotio...,6.43,/zcut0Y6PfcjBJKIyOpc0QDFS9jK.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1949-10-06,2300000,115,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A truly great motion picture.,The Heiress,False,7.70,219,The Heiress,1949,Not Rated,28 Dec 1949,115 min,"Drama, Romance",William Wyler,"Ruth Goetz, Augustus Goetz, Henry James","Olivia de Havilland, Montgomery Clift, Ralph R...",A naive young woman falls for a handsome young...,"English, French",United States,Won 4 Oscars. 9 wins & 8 nominations total,https://m.media-amazon.com/images/M/MV5BMjZjNm...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,8.1,"16,694",tt0041452,movie,N/A,N/A,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None
3,False,/rGQfNRjy7ATNKKwgFXolVIngC7j.jpg,None,1250000,"[{'id': 18, 'name': 'Drama'}]",,28580,tt0037884,en,The Lost Weekend,"Don Birnam, a long-time alcoholic, has been so...",13.34,/8ggIOoCzt8xT2ePl8DdlRtXgcOh.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",1945-11-29,11000000,101,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The screen dares to open the strange and savag...,The Lost Weekend,False,7.65,519,The Lost Weekend,1945,Passed,01 Jan 1946,101 min,"Drama, Film-Noir",Billy Wilder,"Charles R. Jackson, Charles Brackett, Billy Wi...","Ray Milland, Jane Wyman, Phillip Terry",The desperate life of a chronic alcoholic is f...,English,United States,Won 4 Oscars. 16 wins & 3 nominations total,https://m.media-amazon.com/images/M/MV5BMTk4ND...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,7.9,"39,223",tt0037884,movie,29 Mar 2016,N/A,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None
4,False,/ncsi1LlQIfALsBlLQbrRSfvHoFS.jpg,None,15000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",,28597,tt0102719,en,Problem Child 2,"Junior and his father, Ben, move from Cold Riv...",16.09,/npr7j2HuRgvsKrXLIxIiXevTH8A.jpg,"[{'id': 23, 'logo_path': '/bJOFo2ufq7iFC1F4qZm...","[{'iso_3166_1': 'US', 'name': 'United States o...",1991-07-03,32704700,90,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,He’s bad. She’s worse.,Problem Child 2,False,5.80,555,Problem Child 2,1991,PG-13,03 Jul 1991,90 min,"Comedy, Family",Brian Levant,"Scott Alexander, Larry Karaszewski","John Ritter, Michael Oliver, Jack Warden",The worst child in the world makes an unthinka...,English,United States,3 nominations,https://m.media-amazon.com/images/M/MV5BZTQzNj...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,4.8,"23,311",tt0102719,movie,19 Apr 2016,"$25,104,700",N/A,N/A,True,180854.00,Problem Child Collection,/aIWRqX5mJ9RPKox8sguNutPCiX8.jpg,/3qrIGlVQTi7Aps9IUm9vAep9C2W.jpg,None,None,None,None,None
5,False,/kEU7Bbd9ANvziXlyD0dbN6l31Ht.jpg,None,18000000,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",,28665,tt1016075,en,Fame,"An updated version of the 1980 musical, which ...",13.26,/hm7f9a0BdjV9OLOJ5wFWQq55Jfd.jpg,"[{'id': 60, 'logo_path': '/1SEj4nyG3JPBSKBbFht...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-09-23,77211836,107,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Fame,False,5.69,343,Fame,2009,PG,25 Sep 2009,107 min,"Drama, Musical, Romance",Kevin Tancharoen,"Allison Burnett, Christopher Gore","Kelsey Grammer, Bebe Neuwirth, Megan Mullally","An updated version of the musical Fame (1980),...",English,United States,3 nominations,https://m.media-amazon.com/images/M/MV5BMTU1Nj...,"[{'Source': 'Internet Movie Database', 'Value'...",39,5.0,"16,766",tt1016075,movie,25 Feb 2016,"$22,455,510",N/A,N/A,True,NaN,None,None,None,None,None,None,None,None
6,False,/um6EJhd4kxumQEtLLOeGJtAFmQz.jpg,None,640000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://aso.gov.au/titles/features/malcolm/,28685,tt0091464,en,Malcolm,Malcolm is a chronically shy mechanical genius...,3.22,/pLGCwLKEBJC5cWCmOnsQpOOBGfl.jpg,"[{'id': 11840, 'logo_path': '/8oyCRYf6ezxB5h8H...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",1986-07-20,2459000,90,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A comedy of hopes and schemes.,Malcolm,False,6.47,35,Malcolm,1986,PG-13,05 Nov 1986,85 min,"Comedy, Crime, Sci-Fi",Nadia Tass,David Parker,"Colin Friels, John Hargreaves, Lindy Davies",Malcolm is a chronically shy mechanical genius...,English,Australia,9 wins,https://m.media-amazon.com/images/M/MV5BZGMyYj...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,7.1,"2,746",tt0091464,movie,01 Sep 2016,"$544,472",N/A,N/A,True,NaN,None,None,None,None,None,None,None,None
7,False,/r1AjAJAtJFNru3TFz5MZhGs93tA.jpg,None,1000000,"[{'id': 10402, 'name': 'Music'}]",,28701,tt0299760,en,Dire Straits: On The Night,"Music from Dire Straits, recorded live in conc...",1.08,/lII52tr4nvuvmwQBROOHssrT5rm.jpg,[],[],1993-05-11,10000000,94,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Dire Straits: On The Night,True,7.10,9,Dire Straits: On the Night,1993,N/A,N/A,90 min,Music,N/A,N/A,"Dire Straits, Mark Knopfler, John Illsley, Mic...",Concert footage from Dire Straits' concerts at...,N/A,UK,N/A,https://m.media-amazon.com/images/M/MV5BMTI4MT...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,8.5,235,tt0299760,movie,12 Apr 2005,N/A,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None
8,False,/ijiCejJZJlMmRx1HboBeTgRU4Fj.jpg,None,64000,"[{'id': 27, 'name': 'Horror'}]",,28733,tt0066952,en,"Count Yorga, Vampire",Sixties couples Michael and Donna and Paul and...,5.34,/zRAemNKmsErSDUWxBuSm8URDxQM.jpg,"[{'id': 14960, 'logo_path': None, 'name': 'Eri...","[{'iso_3166_1': 'US', 'name': 'United States o...",1970-06-10,7000000,93,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Dashing, Dark and Deadly.","Count Yorga, Vampire",False,5.64,47,"Count Yorga, Vampire",1970,PG-13,12 Jun 1970,93 min,"Drama, Fantasy, Horror",Bob Kelljan,Bob Kelljan,"Robert Quarry, Roger Perry, Michael Murphy","A couple invites a Count from Hungary, who rec...",English,United States,N/A,https://m.media-amazon.com/images/M/MV5BYmZmZD...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,5.7,"3,033",tt0066952,movie,16 Sep 2008,N/A,N/A,N/A,True,327871.00,Count Yorga Collection,/vGUhU08ptGPdDWZ9l0AzdzBcbAQ.jpg,None,None,None,None,None,None
9,False,/kBi1q1jXgOPjbtBIw56nAl15zjw.jpg,None,700000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",,28740,tt0400234,hi,Black Friday,"Bombs tear through Bombay, wreaking havoc and ...",6.94,/jzqsxRSmaYBwbXVMvqQ54fOljTD.jpg,"[{'id': 98138, 'logo_path': None, 'name': 'Mid...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2004-08-13,1100000,162,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The shocking truth behind the '93 Bombay blasts,Black Friday,False,7.32,77,Black Friday,2004,Not Rated,09 Feb 2007,143 min,"Action, Crime, Drama",Anurag Kashyap,"Anurag Kashyap, Hussain Zaidi, Piyush Mishra","Kay Kay Menon, Pawan Malhotra, Aditya Srivastav",A film about the investigations following the ...,"Hindi, English",India,1 win & 7 nominations,https://m.media-amazon.com/images/M/MV5BYWRjMD...,"[{'Source': 'Internet Movie Database', 'Value'...",76,8.4,"21,705",tt0400234,movie,04 Apr 2017,"$35,000",N/A,N/A,True,NaN,None,None,None,None,None,None,None,None

- The dataset has a variety of columns covering different aspects of movies. These include basic information such as 'title', 'genres', 'release_date', and 'runtime', as well as more detailed fields like 'production_companies', 'production_countries', and 'spoken_languages'. 
- There are also columns derived from other sources or datasets, as indicated by the presence of duplicate or similar information such as 'Title' (and 'title'), 'imdb_id' (and 'imdbID'), 'runtime' (and 'Runtime'). It would be prudent to investigate these columns to confirm if they are redundant and decide whether to keep, merge, or drop them.
- The dataset contains columns related to a movie's online presence like 'homepage', 'poster_path', and 'backdrop_path'.
- Some columns like 'belongs_to_collection.id', 'belongs_to_collection.name', 'belongs_to_collection.poster_path', and 'belongs_to_collection.backdrop_path' indicate that there’s information regarding the collections a movie may belong to. This might be useful for grouping or categorizing movies.
- Columns like 'totalSeasons', 'Season', 'Episode', and 'seriesID' suggest that the dataset may also contain information regarding TV series episodes in addition to movies. However, for the scope of this project which focuses on movie success prediction, only movies are relevant as series represent a completely different category with different factors affecting their success. Therefore, it will be essential to filter out any series-related entries from the dataset during the data cleaning process.
- The dataset comprises several columns (Ratings, imdbRating, popularity, Metascore) related to ratings obtained from different sources. Looking into these ratings can help us get a complete picture of how well a movie is liked on different platforms. Also, seeing how these ratings relate to other things like how much money a movie makes or the awards it gets can be key in guessing how successful a movie will be.
- The 'genres' column tells us what type or types of movie we're looking at - like if it's a comedy, drama, or something else. It's important to think about which genres fit well with our project. For example, documentaries or series might be different from regular movies when it comes to budget, awards, and how they are made. So, we might need to look closely at the genres and maybe leave some of them out to make sure our data is good for helping us guess which movies will do well.
- The columns 'revenue', 'budget', and 'BoxOffice' tell us about the money side of the movies. 
- The 'Error' column may indicate rows where there were issues or errors in data collection or merging. This column should be investigated further to understand its significance and whether any data cleaning is required.

Let's also load credits dataset. It has id column which is tmdb id (the same id column we have in movies dataset) and 2 additional columns: crew and cast

In [51]:
credits_df = pd.read_parquet('../data/credits.parquet')
print(credits_df.shape)
print(credits_df.columns)

(30143, 3)
Index(['id', 'cast', 'crew'], dtype='object')

Let's bring together my main table `df` and the credits table `credits_df` based on the movie 'id' using left join.

So after merging you can see that updated dataset has 61 column now instead of 59. Also we should check how many movies now have information in the 'cast' and 'crew' columns because those columns are crutial for the future model learning and we should filter those rows that don't have this info.

In [52]:
df = df.merge(credits_df, on='id', how='left')
print(df.shape)
print(df[df['cast'].notnull()].shape)
print(df[df['crew'].notnull()].shape)

(5613, 61)
(5292, 61)
(5292, 61)

First, let's identify which columns have a mix of null and non-null values, and which columns are completely obviously null, to understand the completeness of our data and decide how to handle missing values moving forward.

In [53]:
null_columns = df.columns[df.isnull().all()]
print("empty columns:", null_columns)
mixed_null_columns = df.columns[df.isnull().any() & df.notnull().any()]
print("columns with mix of null and non-null values:", mixed_null_columns)
print("dataset info:")
df.info()

empty columns: Index(['belongs_to_collection', 'Season', 'Episode', 'seriesID', 'Error'], dtype='object')
columns with mix of null and non-null values: Index(['backdrop_path', 'poster_path', 'DVD', 'BoxOffice', 'Production',
       'Website', 'belongs_to_collection.id', 'belongs_to_collection.name',
       'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'totalSeasons', 'cast', 'crew'],
      dtype='object')
dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5613 entries, 0 to 5612
Data columns (total 61 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   adult                                5613 non-null   bool
 1   backdrop_path                        5539 non-null   object
 2   belongs_to_collection                0 non-null      object
 3   budget                               5613 non-null   int64
 4   genres                               5613 non-null   object
 5   homepage                             5613 non-null   object
 6   id                                   5613 non-null   int64
 7   imdb_id                              5613 non-null   object
 8   original_language                    5613 non-null   object
 9   original_title                       5613 non-null   object
 10  overview                             5613 non-null   object
 11  popularity                           5613 non-null   float64
 12  poster_path                          5607 non-null   object
 13  production_companies                 5613 non-null   object
 14  production_countries                 5613 non-null   object
 15  release_date                         5613 non-null   object
 16  revenue                              5613 non-null   int64
 17  runtime                              5613 non-null   int64
 18  spoken_languages                     5613 non-null   object
 19  status                               5613 non-null   object
 20  tagline                              5613 non-null   object
 21  title                                5613 non-null   object
 22  video                                5613 non-null   bool
 23  vote_average                         5613 non-null   float64
 24  vote_count                           5613 non-null   int64
 25  Title                                5613 non-null   object
 26  Year                                 5613 non-null   object
 27  Rated                                5613 non-null   object
 28  Released                             5613 non-null   object
 29  Runtime                              5613 non-null   object
 30  Genre                                5613 non-null   object
 31  Director                             5613 non-null   object
 32  Writer                               5613 non-null   object
 33  Actors                               5613 non-null   object
 34  Plot                                 5613 non-null   object
 35  Language                             5613 non-null   object
 36  Country                              5613 non-null   object
 37  Awards                               5613 non-null   object
 38  Poster                               5613 non-null   object
 39  Ratings                              5613 non-null   object
 40  Metascore                            5613 non-null   object
 41  imdbRating                           5613 non-null   object
 42  imdbVotes                            5613 non-null   object
 43  imdbID                               5613 non-null   object
 44  Type                                 5613 non-null   object
 45  DVD                                  5612 non-null   object
 46  BoxOffice                            5612 non-null   object
 47  Production                           5612 non-null   object
 48  Website                              5612 non-null   object
 49  Response                             5613 non-null   object
 50  belongs_to_collection.id             1333 non-null   float64
 51  belongs_to_collection.name           1333 non-null   object
 52  belongs_to_collection.poster_path    1311 non-null   object
 53  belongs_to_collection.backdrop_path  1231 non-null   object
 54  totalSeasons                         1 non-null      object
 55  Season                               0 non-null      object
 56  Episode                              0 non-null      object
 57  seriesID                             0 non-null      object
 58  Error                                0 non-null      object
 59  cast                                 5292 non-null   object
 60  crew                                 5292 non-null   object
dtypes: bool(2), float64(3), int64(5), object(51)
memory usage: 2.5+ MB

As we look through our data, we're making some notes on what to clean up later in this notebook. First, we see some columns have no information at all—just empty spots. We'll get rid of these columns. 

Next, we see some columns have a mix of empty spots and actual information. We'll need to decide what to do with these:
- The columns 'backdrop_path' and 'poster_path' don't seem relevant for our analysis, suggesting their removal.
- There are four columns about movie collections, but we may only need one new column that just says yes or no for whether a movie is part of a collection. This way, we can simplify our data and focus on what's important.

In [54]:
df['collection'] = df['belongs_to_collection.name'].notna()
df['belongs_to_collection.name'].value_counts()

belongs_to_collection.name
James Bond Collection                   24
Friday the 13th Collection              11
Halloween Collection                     8
Harry Potter Collection                  8
A Nightmare on Elm Street Collection     7
                                        ..
The Little Mermaid Collection            1
Road House Collection                    1
Cyborg Collection                        1
Alien Nation Collection                  1
Beavis and Butt-Head Collection          1
Name: count, Length: 807, dtype: int64

Now, we'll turn our attention to columns that appear to have duplicate or overlapping information. It's essential to examine these columns to ensure we're not carrying redundant data through our analysis, which could complicate our efforts later on. The columns that catch our eye are:

- 'title' and 'Title'
- 'release_date', 'Year' and 'Released'
- 'runtime' and 'Runtime'
- 'genres' and 'Genre'
- 'original_language', 'spoken_languages' and 'Language'
- 'production_countries' and 'Country'
- 'production_companies' and 'Production'
- 'imdb_id' and 'imdbID'

Let's examine these pairs of columns to understand better how they relate to each other and decide how to handle them in our dataset.

In [55]:
# Unpack values from the dictionaries to lists for columns for the better usability: 
#genres, production_companies, production_countries and spoken_languages
df['genres'] = df['genres'].apply(lambda x: ','.join([d['name'] for d in x]))
df['production_companies'] = df['production_companies'].apply(lambda x: ','.join([d['name'] for d in x]))
df['production_countries'] = df['production_countries'].apply(lambda x: ','.join([d['iso_3166_1'] for d in x]))
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: ','.join([d['iso_639_1'] for d in x]))

In [56]:
print('difference', (int(df[df['Title'] != df['title']][['title', 'Title']].shape[0]) / int(df.shape[0]) * 100), "%")
df[df['Title'] != df['title']][['title', 'Title']].head(10)

difference 5.11313023338678 %

,title,Title
7,Dire Straits: On The Night,Dire Straits: On the Night
10,"White Hunter, Black Heart",White Hunter Black Heart
13,"Black Mama, White Mama",Black Mama White Mama
14,How About You...,How About You
36,Antikiller D.K,Antikiller D.K.
46,The Legend of the Nahuala,Legend Quest: The Legend of La Nahuala
58,God Willing,Om Gud vill
99,The Crocodiles,Vorstadtkrokodile
111,3 Men and a Baby,Three Men and a Baby
135,Monty Python's The Meaning of Life,The Meaning of Life

In [57]:
df[df['imdbID'] != df['imdb_id']][['imdb_id', 'imdbID']].head(10)

Empty DataFrame
Columns: [imdb_id, imdbID]
Index: []

In [58]:
comparison = df[['release_date', 'Released', 'Year']]
print(comparison.head())
#! TODO: release dates are different - why and what to do?
#   - The 'release_date' column has a standardized date format (YYYY-MM-DD), which is easier to work with compared to the 
# 'Released' column that has a more human-readable but less machine-friendly format. Therefore, we'll keep 'release_date' and drop 'Released'.

  release_date     Released  Year
0   1961-08-12  23 Aug 1961  1961
1   2009-10-01  07 Jan 2010  2009
2   1949-10-06  28 Dec 1949  1949
3   1945-11-29  01 Jan 1946  1945
4   1991-07-03  03 Jul 1991  1991

In [59]:
comparison = df[['runtime', 'Runtime']]
print(comparison.head())

comparison = df[['original_language', 'spoken_languages', 'Language']]
print(comparison.head())
na_count = df['Language'].value_counts().get('N/A', 0)
print(f'Number of N/A values in Language column: {na_count}')

comparison = df[['production_countries', 'Country']]
print(comparison.head())

comparison = df[['production_companies', 'Production']]
print(comparison.head())

comparison = df[['genres', 'Genre']]
print(comparison.head())

   runtime  Runtime
0       81   80 min
1       97   97 min
2      115  115 min
3      101  101 min
4       90   90 min
  original_language spoken_languages            Language
0                en               en             English
1                en            bg,en  English, Bulgarian
2                en               en     English, French
3                en               en             English
4                en            es,en             English
Number of N/A values in Language column: 1
  production_countries        Country
0                   US  United States
1                   US  United States
2                   US  United States
3                   US  United States
4                   US  United States
                                production_companies Production
0  Alta Vista Productions,American International ...        N/A
1  Foresight Unlimited,Signature Entertainment,Ba...        N/A
2                                          Paramount        N/A
3                                          Paramount        N/A
4           Imagine Entertainment,Universal Pictures        N/A
                                      genres                      Genre
0                             Horror,Mystery     Drama, Horror, Mystery
1  Adventure,Action,Science Fiction,Thriller  Action, Adventure, Sci-Fi
2                      Drama,Romance,History             Drama, Romance
3                                      Drama           Drama, Film-Noir
4                              Comedy,Family             Comedy, Family

We could make the following observations and decisions:

  - The 'runtime' column contains numeric values representing the runtime in minutes, while the 'Runtime' column contains string values with a ' min' suffix. Since the 'runtime' column is already in a numeric format, it's more suitable for our analysis, so we'll keep 'runtime' and drop 'Runtime'.
  - Both 'genres' and 'Genre' columns provide genre information, but we've decided to go with 'genres' from TMDB. I feel that sticking with metadata from TMDB is a better choice as we have more data from this source, which could lead to more consistent insights. 
  - We should keep both 'original_language' and 'spoken_languages' from TMDB as they offer distinct pieces of information. The 'original_language' tells us the primary language of the movie, while 'spoken_languages' gives us a list of all languages spoken in the movie. This distinction could be important for our analysis, as it may reflect on a movie's international appeal and accessibility to diverse audiences.
  - title is almost the same as Title with a difference of 4%, and imdb_id is the same as imdbID

Let's review other columns (without ids, we will drop all ids in the end because they don't have any usefull information):
original_title, status, adult, Rated, Type, DVD, video

Title vs original title: we can see that original_title is in the native language, so we can drop it and leave only title

In [60]:
df[df['original_title'] != df['title']][['title', 'original_title']].head(10)

,title,original_title
12,The House by the Cemetery,Quella villa accanto al cimitero
32,The Missing Lynx,El lince perdido
36,Antikiller D.K,Антикиллер Д.К.: Любовь без памяти
46,The Legend of the Nahuala,La Leyenda de la Nahuala
50,Dulha Mil Gaya,दुल्हा मिल गया
58,God Willing,Om Gud Vill
60,Admiral,Адмиралъ
97,Night of the Living Dorks,Die Nacht der lebenden Loser
99,The Crocodiles,Vorstadtkrokodile
120,The First Day of the Rest of Your Life,Le Premier Jour du reste de ta vie

In [61]:
# I set a filter on scapping to scrape only Released movies, so we can drop this column
print(df['status'].value_counts())

status
Released    5613
Name: count, dtype: int64

In [62]:
# We have too many False in adult columns so this column is not of much use to us
print(df['adult'].value_counts())

adult
False    5608
True        5
Name: count, dtype: int64

Rated columns definetly has issues with duplicated categories and different rating system, should be unified
MPA film ratings - https://en.wikipedia.org/wiki/Motion_Picture_Association_film_rating_system

We should do standardization:
- Firstly, standardize the ratings to a consistent notation. Ratings like "Not Rated", "Unrated", and "N/A" might mean the same and could be grouped together under a common label like "Unrated".
- Ratings like "M", "M/PG", and "GP" are outdated ratings and could be mapped to their modern equivalents, or grouped under an "Other" category if they don't have clear modern equivalents.
- Ratings like "18+", "16+", and "13+" are not standard MPA ratings and might require either mapping to the closest MPA rating or grouping under an "Other" category.

In [63]:
print(df['Rated'].value_counts())

Rated
R            2260
PG-13        1277
PG            892
Not Rated     362
G             216
N/A           174
Approved      161
Passed        150
Unrated        49
NC-17          17
X              12
TV-PG          10
GP             10
M               5
TV-14           4
M/PG            4
TV-MA           3
18+             2
TV-G            2
16+             1
13+             1
TV-Y7           1
Name: count, dtype: int64

In [64]:
# Creating a dictionary to map non-standard ratings to standard MPA ratings
rating_map = {
    'Not Rated': 'Unrated',
    'N/A': 'Unrated',
    'Approved': 'Other',
    'Passed': 'Other',
    'GP': 'PG',  # Assuming GP (General Public) is similar to PG
    'M': 'Other',
    'X': 'Other',
    'M/PG': 'PG',
    'TV-PG': 'PG',
    'TV-MA': 'R',
    'TV-14': 'PG-13',
    '18+': 'NC-17',
    '16+': 'R',
    '13+': 'PG-13',
    'TV-G': 'G',
    'TV-Y7': 'G'
}

# Applying the mapping to the 'Rated' column
df['Rated'] = df['Rated'].replace(rating_map)

In [65]:
print(df['Rated'].value_counts())

Rated
R          2264
PG-13      1282
PG          916
Unrated     585
Other       328
G           219
NC-17        19
Name: count, dtype: int64

In [66]:
# we need only movies, because others are incompariable categories, this column should be dropped
print(df['Type'].value_counts())
df = df[df['Type'].str.lower() == 'movie']

Type
movie     5612
series       1
Name: count, dtype: int64

In [67]:
# Indicates if there is a video present of the movie with TMDB, doesn't look very usefull
print(df['video'].value_counts())

video
False    5601
True       11
Name: count, dtype: int64

In [68]:
# seems like another not useful column
print(df['Response'].value_counts())

Response
True    5612
Name: count, dtype: int64

The date when the movie was released on dvd might not be crucial for our analysis because the transition to digital platforms has made DVD releases less relevant over time. Many movies are now released directly on streaming platforms, bypassing the traditional DVD release. The 'DVD' release date column may have many missing or 'N/A' values, especially for newer movies, making it less useful for analysis.

In [69]:
print(df['DVD'].value_counts())

DVD
N/A            516
16 Apr 2012    242
01 Mar 2013    173
01 Jan 2014    132
10 Aug 2016    129
              ...
31 May 2018      1
20 Dec 2016      1
09 Oct 2009      1
06 Jan 2017      1
28 Jul 2016      1
Name: count, Length: 1330, dtype: int64

The 'tagline', 'plot', and 'overview' columns contain textual descriptions about a movie. We might consider applying techniques such as TF-IDF Vectorization or sentiment analysis on these columns during the feature engineering stage.

In [70]:
df[['title', 'tagline', 'Plot', 'overview']].head(5)

,title,tagline,Plot,overview
0,The Pit and the Pendulum,Betrayal cuts both ways!,"In the sixteenth century, Francis Barnard trav...","In the sixteenth century, Francis Barnard trav..."
1,Universal Soldier: Regeneration,Reanimated. Rearmed. The ultimate rematch,Terrorists kidnap the Russian Prime Minister's...,When terrorists threaten nuclear catastrophe a...
2,The Heiress,A truly great motion picture.,A naive young woman falls for a handsome young...,Dull and plain Catherine lives with her emotio...
3,The Lost Weekend,The screen dares to open the strange and savag...,The desperate life of a chronic alcoholic is f...,"Don Birnam, a long-time alcoholic, has been so..."
4,Problem Child 2,He’s bad. She’s worse.,The worst child in the world makes an unthinka...,"Junior and his father, Ben, move from Cold Riv..."

As I mentioned in the beggining of this Notebook that documentaries or series might be different from regular movies when it comes to budget, awards, and how they are made. Let's check genres.

In [71]:
# need to check genres
import pandas as pd
from collections import Counter
import ast  # if needed to convert string representation of list to list

genres_df = df.copy()
genres_df['genres'] = genres_df['genres'].str.split(',')
# Flatten the list of lists and count the occurrences of each country code
genre_counter = Counter(genre for genre_list in genres_df['genres'].dropna() for genre in genre_list)
# Convert the Counter object to a DataFrame for easier viewing and analysis
genre_frequencies = pd.DataFrame(genre_counter.items(), columns=['genres', 'frequency'])

# Sort the DataFrame by frequency
genre_frequencies = genre_frequencies.sort_values(by='frequency', ascending=False).reset_index(drop=True)
genre_frequencies

             genres  frequency
0             Drama       2568
1            Comedy       2124
2          Thriller       1390
3            Action       1311
4           Romance       1200
5         Adventure        950
6             Crime        938
7            Horror        655
8   Science Fiction        622
9            Family        568
10          Fantasy        532
11          Mystery        514
12        Animation        257
13          History        254
14            Music        231
15              War        220
16          Western        117
17      Documentary         59
18         TV Movie          8
19                           5

In [72]:
# Filter rows where 'tv movie' or 'documentary' is in the 'Genres' column
others = df[df['genres'].apply(lambda x: 'TV Movie' in x or 'Documentary' in x or not x)]
print(others.shape)

(72, 62)

You might see the genres such as 'Documentary' and 'TV Movie', as well as a category with missing genre information represented as empty strings. I checked the frequency of these less relevant or empty genres and given the small count and their different nature which might not align with the rest of the movie categories for my analysis, I've decided to exclude these rows from the dataset.

In [73]:
df = df[df['genres'].apply(lambda x: 'TV Movie' not in x and 'Documentary' not in x )]
df = df[df['genres'].apply(lambda x: len(x) > 0)]
print(df.shape)

(5540, 62)

Let's look at awards column

In [74]:
df[['Awards']].to_csv("1.csv")

So if you open the csv file you might notice the following patterns:

- n/a
- X win/wins
- Y nomination/nominations
- X win/wins & Y nomination/nominations
- nominated for A oscar/oscars. X win/wins & Y nomination/nominations total
- won A oscar/oscars. 1X win/wins & Y nomination/nominations total
- nominated for B bafta X win/wins & Y nomination/nominations total'
- won B bafta X win/wins & Y nomination/nominations total
- won E primetime emmy. X win/wins & Y nomination/nominations total
- nominated for E primetime emmys

Thus, we can use regex and unpack those values to create separate columns from this data

In [75]:
import re

pattern = {'oscar_won': re.compile(r'won (\d+) oscar', re.IGNORECASE),
           'oscar_nominated': re.compile(r'nominated for (\d+) oscar', re.IGNORECASE),
           'bafta_won': re.compile(r'won (\d+) bafta', re.IGNORECASE),
           'bafta_nominated': re.compile(r'nominated for (\d+) bafta', re.IGNORECASE),
           'awards_won': re.compile(r'(\d+)\s*win', re.IGNORECASE),
           'awards_nominated': re.compile(r'(\d+)\s*nomination', re.IGNORECASE)}
df['Awards'] = df['Awards'].str.replace('n/a', '')
for k, v in pattern.items():
    df[k] = df['Awards'].str.extract(v).fillna(0).astype(int)

In [76]:
df[['Awards', 'oscar_won', 'oscar_nominated', 'bafta_won', 'bafta_nominated', 'awards_won', 'awards_nominated']].head(10)

,Awards,oscar_won,oscar_nominated,bafta_won,bafta_nominated,awards_won,awards_nominated
0,N/A,0,0,0,0,0,0
1,N/A,0,0,0,0,0,0
2,Won 4 Oscars. 9 wins & 8 nominations total,4,0,0,0,9,8
3,Won 4 Oscars. 16 wins & 3 nominations total,4,0,0,0,16,3
4,3 nominations,0,0,0,0,0,3
5,3 nominations,0,0,0,0,0,3
6,9 wins,0,0,0,0,9,0
7,N/A,0,0,0,0,0,0
8,N/A,0,0,0,0,0,0
9,1 win & 7 nominations,0,0,0,0,1,7

Finally, the remaining numeric columns which by intuition should be numerical: 
- popularity
- revenue
- BoxOffice
- budget
- vote_average
- vote_count
- Ratings
- Metascore
- imdbRating
- imdbVotes

In [77]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,belongs_to_collection.id,oscar_won,oscar_nominated,bafta_won,bafta_nominated,awards_won,awards_nominated
count,5.540000e+03,5540.000000,5540.000000,5.540000e+03,5540.000000,5540.000000,5540.000000,1.321000e+03,5540.000000,5540.000000,5540.000000,5540.000000,5540.000000,5540.000000
mean,2.489235e+07,16086.669856,18.451502,6.753548e+07,108.405235,6.392538,1596.235740,1.881975e+05,0.193141,0.275812,0.007762,0.024729,5.499819,9.582130
std,3.357612e+07,13799.194278,16.890960,1.356015e+08,21.291982,0.880216,2922.921982,2.505465e+05,0.846105,0.893353,0.111341,0.213133,13.494531,18.230632
min,3.000000e+00,5.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,1.000000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000e+06,6592.000000,9.355000,4.849128e+06,94.000000,5.868000,162.000000,1.089300e+04,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.300000e+07,11526.000000,14.447500,2.010062e+07,104.000000,6.429500,543.500000,9.668000e+04,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
75%,3.000000e+07,23141.000000,22.050750,6.917570e+07,118.000000,6.995000,1651.250000,2.305320e+05,0.000000,0.000000,0.000000,0.000000,5.000000,10.000000
max,3.790000e+08,54952.000000,302.315000,2.923706e+09,254.000000,10.000000,34612.000000,1.185967e+06,11.000000,11.000000,4.000000,5.000000,240.000000,220.000000

Looks like: budget,	popularity,	revenue, runtime, vote_average, vote_count are indeed numerical, so what about BoxOffice, imdbVotes, imdbRating, Ratings, Metascore?

In [78]:
df[['BoxOffice', 'imdbVotes', 'imdbRating', 'Ratings', 'Metascore']]

,BoxOffice,imdbVotes,imdbRating,Ratings,Metascore
0,N/A,"15,801",7.0,"[{'Source': 'Internet Movie Database', 'Value'...",78
1,N/A,"26,273",5.3,"[{'Source': 'Internet Movie Database', 'Value'...",70
2,N/A,"16,694",8.1,"[{'Source': 'Internet Movie Database', 'Value'...",N/A
3,N/A,"39,223",7.9,"[{'Source': 'Internet Movie Database', 'Value'...",N/A
4,"$25,104,700","23,311",4.8,"[{'Source': 'Internet Movie Database', 'Value'...",N/A
...,...,...,...,...,...
5608,"$13,030,057","14,570",6.6,"[{'Source': 'Internet Movie Database', 'Value'...",48
5609,N/A,884,6.1,"[{'Source': 'Internet Movie Database', 'Value'...",N/A
5610,"$23,630,159","15,613",4.5,"[{'Source': 'Internet Movie Database', 'Value'...",32
5611,N/A,"18,256",7.7,"[{'Source': 'Internet Movie Database', 'Value'...",N/A
5612,N/A,"2,204",5.5,"[{'Source': 'Internet Movie Database', 'Value'...",N/A

It appears that we have commas in those values instead of dots. Also Raitings is a dict column with different ratings so we should extract them.

Another thing: I want to make all ratings to be on the same scale, so let's multuply imdbRating and vote_average by 10

In [79]:
df['imdbRating'] = pd.to_numeric(df['imdbRating'], errors='coerce')
df['imdbRating'] = df['imdbRating'] * 10
df['vote_average'] = df['vote_average'] * 10
df['imdbVotes'] = df['imdbVotes'].str.replace(',', '')
df['imdbVotes'] = pd.to_numeric(df['imdbVotes'], errors='coerce')
df['Metascore'] = pd.to_numeric(df['Metascore'], errors='coerce')
df['BoxOffice'] = df['BoxOffice'].str.replace(',', '')
df['BoxOffice'] = df['BoxOffice'].str.replace('$', '')
df['BoxOffice'] = pd.to_numeric(df['BoxOffice'], errors='coerce')

In [80]:
print(df.shape)
df[['BoxOffice', 'imdbVotes', 'imdbRating', 'Ratings', 'Metascore']].info()

(5540, 68)
<class 'pandas.core.frame.DataFrame'>
Index: 5540 entries, 0 to 5612
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BoxOffice   4519 non-null   float64
 1   imdbVotes   5539 non-null   float64
 2   imdbRating  5538 non-null   float64
 3   Ratings     5540 non-null   object
 4   Metascore   4346 non-null   float64
dtypes: float64(4), object(1)
memory usage: 259.7+ KB

Let's unroll Ratings column

In [81]:
exploded_df = df.explode('Ratings')
ratings_df = pd.json_normalize(exploded_df['Ratings'])
ratings_df.index = exploded_df.index
pivot_df = ratings_df.pivot(columns='Source', values='Value')
df = df.merge(pivot_df, left_index=True, right_index=True)
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,totalSeasons,Season,Episode,seriesID,Error,cast,crew,collection,oscar_won,oscar_nominated,bafta_won,bafta_nominated,awards_won,awards_nominated,NaN,Internet Movie Database,Metacritic,Rotten Tomatoes
0,False,/1FrKhMDGMwpry6vDLyRbgLdBSE1.jpg,None,200000,"Horror,Mystery",,28501,tt0055304,en,The Pit and the Pendulum,"In the sixteenth century, Francis Barnard trav...",9.490,/dSdDtWebN6NwUM3D2bejPRCKcDT.jpg,"Alta Vista Productions,American International ...",US,1961-08-12,2000000,81,en,Released,Betrayal cuts both ways!,The Pit and the Pendulum,False,68.25,288,The Pit and the Pendulum,1961,Unrated,23 Aug 1961,80 min,"Drama, Horror, Mystery",Roger Corman,"Richard Matheson, Edgar Allan Poe","Vincent Price, Barbara Steele, John Kerr","In the sixteenth century, Francis Barnard trav...",English,United States,N/A,https://m.media-amazon.com/images/M/MV5BZGY1OD...,"[{'Source': 'Internet Movie Database', 'Value'...",78.0,70.0,15801.0,tt0055304,movie,16 Sep 2008,NaN,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None,"[{'adult': False, 'cast_id': 13, 'character': ...","[{'adult': False, 'credit_id': '52fe459cc3a368...",False,0,0,0,0,0,0,NaN,7.0/10,78/100,88%
1,False,/ffRq48IlOKcAMeM7rGpJRPzRsSh.jpg,None,14000000,"Adventure,Action,Science Fiction,Thriller",,28510,tt1288403,en,Universal Soldier: Regeneration,When terrorists threaten nuclear catastrophe a...,15.841,/hYLzRwCcCyTVKGBRAiHEW7NOEni.jpg,"Foresight Unlimited,Signature Entertainment,Ba...",US,2009-10-01,875386,97,"bg,en",Released,Reanimated. Rearmed. The ultimate rematch,Universal Soldier: Regeneration,False,55.98,405,Universal Soldier: Regeneration,2009,R,07 Jan 2010,97 min,"Action, Adventure, Sci-Fi",John Hyams,"Richard Rothstein, Christopher Leitch, Dean De...","Dolph Lundgren, Jean-Claude Van Damme, Andrei ...",Terrorists kidnap the Russian Prime Minister's...,"English, Bulgarian",United States,N/A,https://m.media-amazon.com/images/M/MV5BODAzMD...,"[{'Source': 'Internet Movie Database', 'Value'...",70.0,53.0,26273.0,tt1288403,movie,16 Apr 2012,NaN,N/A,N/A,True,10713.0,Universal Soldier Collection,/w6VKg5MJFmoACGgLcDUMmNSPYOv.jpg,/dpcjRnOTkbyHWGE0lEmgzz3ACTm.jpg,None,None,None,None,None,"[{'adult': False, 'cast_id': 1, 'character': '...","[{'adult': False, 'credit_id': '5eadf35c0b7316...",True,0,0,0,0,0,0,NaN,5.3/10,70/100,NaN
2,False,/56eHAxXfZTz5pGiVDCFnuiHw2fp.jpg,None,2600000,"Drama,Romance,History",,28571,tt0041452,en,The Heiress,Dull and plain Catherine lives with her emotio...,6.435,/zcut0Y6PfcjBJKIyOpc0QDFS9jK.jpg,Paramount,US,1949-10-06,2300000,115,en,Released,A truly great motion picture.,The Heiress,False,77.03,219,The Heiress,1949,Unrated,28 Dec 1949,115 min,"Drama, Romance",William Wyler,"Ruth Goetz, Augustus Goetz, Henry James","Olivia de Havilland, Montgomery Clift, Ralph R...",A naive young woman falls for a handsome young...,"English, French",United States,Won 4 Oscars. 9 wins & 8 nominations total,https://m.media-amazon.com/images/M/MV5BMjZjNm...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,81.0,16694.0,tt0041452,movie,N/A,NaN,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None,"[{'adult': False, 'cast_id': 2, 'character': '...","[{'adult': False, 'credit_id': '52fe45a2c3a368...",False,4,0,0,0,9,8,NaN,8.1/10,NaN,100%
3,False,/rGQfNRjy7ATNKKwgFXolVIngC7j.jpg,None,1250000,Drama,,28580,tt0037884,en,The Lost Weekend,"Don Birnam, a long-time alcoholic, has been so...",13.338,/8ggIOoCzt8xT2ePl8DdlRtXgcOh.jpg,Paramount,US,1945-11-29,11000000,101,en,Released,The screen dares to open the strange and savag...,The Lost Weekend,False,76.51,519,The Lost Weekend,1945,Other,01 Jan 1946,101 min,"Drama, Film-Noir",Billy Wilder,"Charles R. Jackson, Charles Brackett, Billy Wi...","Ray Milland, Jane Wyman, Phillip Terry",The desperate life of a chronic alcoholic is f...,English,United States,Won 4 Oscars. 16 wins & 3 nominations total,https://m.media-amazon.com/images/M/MV5BMTk4ND...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,79.0,39223.0,tt0037884,movie,29 Mar 2016,NaN,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None,"[{'adult': False, 'cast_id': 1, 'character': '...","[{'adult': False, 'credit_id': '52fe45a3c3a368...",False,4,0,0,0,16,3,NaN,7.9/10,NaN,97%
4,False,/ncsi1LlQIfALsBlLQbrRSfvHoFS.jpg,None,15000000,"Comedy,Family",,28597,tt0102719,en,Problem Child 2,"Junior and his father, Ben, move from Cold Riv...",16.088,/npr7j2HuRgvsKrXLIxIiXevTH8A.jpg,"Imagine Entertainment,Universal Pictures",US,1991-07-03,32704700,90,"es,en",Released,He’s bad. She’s worse.,Problem Child 2,False,58.00,555,Problem Child 2,1991,PG-13,03 Jul 1991,90 min,"Comedy, Family",Brian Levant,"Scott Alexander, Larry Karaszewski","John Ritter, Michael Oliver, Jack Warden",The worst child in the world makes an unthinka...,English,United States,3 nominations,https://m.media-amazon.com/images/M/MV5BZTQzNj...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,48.0,23311.0,tt0102719,movie,19 Apr 2016,25104700.0,N/A,N/A,True,180854.0,Problem Child Collection,/aIWRqX5mJ9RPKox8sguNutPCiX8.jpg,/3qrIGlVQTi7Aps9IUm9vAep9C2W.jpg,None,None,None,None,None,"[{'adult': False, 'cast_id': 1, 'character': '...","[{'adult': False, 'credit_id': '5835f407c3a368...",True,0,0,0,0,0,3,NaN,4.8/10,NaN,7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,False,/z3tAdLDRWqoMgtl349aStimMtIs.jpg,None,3000000,"Comedy,Action,Crime",,17006,tt0095348,en,I'm Gonna Git You Sucka,Jack Spade returns from the army in his old gh...,7.174,/gL7g9gPrzeq7HpZTlnc6k1kHx1y.jpg,"Ivory Way Productions,Front Films,Raymond Katz...",US,1988-11-10,13000000,88,en,Released,It's Tough To Be A Black Hero.,I'm Gonna Git You Sucka,False,63.64,162,I'm Gonna Git You Sucka,1988,R,11 Jan 1989,88 min,"Action, Comedy, Crime",Keenen Ivory Wayans,Keenen Ivory Wayans,"Keenen Ivory Wayans, Bernie Casey, Antonio Fargas","In this parody of blaxploitation movies, a bla...",English,United States,1 nomination,https://m.media-amazon.com/images/M/MV5BMTk0Mj...,"[{'Source': 'Internet Movie Database', 'Value'...",48.0,66.0,14570.0,tt0095348,movie,16 Sep 2008,13030057.0,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None,"[{'adult': False, 'cast_id': 3, 'character': '...","[{'adult': False, 'credit_id': '642f231e894ed6...",False,0,0,0,0,0,1,NaN,6.6/10,48/100,62%
5609,False,/Au9NAcuMoCOMjMdHgcuRpZjde4J.jpg,None,5000000,"Comedy,Drama",http://www.brandnerkaspar-derfilm.de/,17008,tt1148770,de,Die Geschichte vom Brandner Kaspar,70-year old Brandner Kaspar lives with his gra...,3.931,/ApQSblNqdxp9iFT7Ui10xa3ovSM.jpg,"Clasart Film,Tele München Fernseh Produktionsg...",DE,2008-10-16,8623057,105,de,Released,,Die Geschichte vom Brandner Kaspar,False,69.04,26,Die Geschichte vom Brandner Kaspar,2008,Unrated,16 Oct 2008,96 min,"Comedy, Drama",Joseph Vilsmaier,"Klaus Richter, Kurt Wilhelm, Franz von Kobell","Franz-Xaver Kroetz, Michael Herbig, Lisa Maria...",70-year old Brandner Kaspar lives with his gra...,German,"Germany, Austria",2 wins,https://m.media-amazon.com/images/M/MV5BMjA0Nj...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,61.0,884.0,tt1148770,movie,N/A,NaN,Clasart,N/A,True,NaN,None,None,None,None,None,None,None,None,"[{'adult': False, 'cast_id': 1, 'character': '...","[{'adult': False, 'credit_id': '62cf4ec4b234b9...",False,0,0,0,0,2,0,NaN,6.1/10,NaN,NaN
5610,False,/dkCeC92reZFKnZDspABZVpk0RLW.jpg,None,26000000,"Comedy,Action,Adventure,Family,Romance",http://www.mgm.com/view/Movie/33/,17047,tt0358349,en,Agent Cody Banks 2: Destination London,"With all-new gadgets, high-flying action, exci...",19.800,/l5CCDJV0VojPJedNcucPWBnrGaC.jpg,"Maverick Films,Dylan Sellers Productions,Splen...",US,2004-03-12,28818995,100,en,Released,Adventure is an attitude.,Agent Cody Banks 2: Destination London,False,55.25,577,Agent Cody Banks 2: Destination London,2004,PG,12 Mar 2004,100 min,"Action, Adventure, Comedy",Kevin Allen,"Jeffrey Jurgensen, Harald Zwart, Dylan Sellers","Frankie Muniz, Anthony Anderson, Hannah Spearritt","With all-new gadgets, high-flying action, exci...",English,"United States, United Kingdom",N/A,https://m.media-amazon.com/images/M/MV5BMjE4ND...,"[{'Source': 'Internet Movie Database', 'Value'...",32.0,45.0,15613.0,tt0358349,movie,01 Oct 2016,23630159.0,N/A,N/A,True,91427.0,Agent Cody Banks Collection,/j8U2ivzLSZSmaURtCRB3tDReJEW.jpg,/gh0OZpG16E5LtTAkCRkr5j0v1Fh.jpg,None,None,None,None,None,"[{'adult': False, 'cast_id': 1, 'character': '...","[{'adult': False, 'credit_id': '5c97f985925141...",True,0,0,0,0,0,0,NaN,4.5/10,32/100,14%
5611,False,/qqr6IbCiyylEQLMzMBrSejRJJr1.jpg,None,1202000,"Drama,Crime",,17058,tt0038057,en,Scarlet Street,Cashier and part-time starving artist Christop...,8.968,/eGEDor1BWSQGaLtOntPHUSqNzRC.jpg,"Diana Productions, Inc.,Fritz Lang Productions...",US,1945-12-25,2948500,103,en,Released,The things she does to men can end only one wa...,Scarlet Street,False,76.20,324,Scarlet Street,1945,Other,28 Dec 1945,102 min,"Crime, Drama, Film-Noir",Fritz Lang,"Georges de La Fouchardière, André Mouëzy-Éon, ...","Edward G. Robinson, Joan Bennett, Dan Duryea",A man in mid-life crisis befriends a young wom...,English,United States,3 nominations,https://m.media-amazon.com/images/M/MV5BMzY1OD...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,77.0,18256.0,tt0038057,movie,28 Jul 2016,NaN,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None,"[{'adult': False, 'cast_id': 1, 'character': '...","[{'adult': False, 'credit_id': '52fe4702925141...",False,0,0,0,0,0,3,NaN,7.7/10,NaN,100%
5612,False,/gKw6ZHX9GJbBGWF8EOfXrhXmCl7.jpg,None,30000000,"Action,Thriller",http://www.mediaasia.com/thesniper/,17082,tt1194624,cn,神鎗手,A police sniper teams up with a hot-headed roo...,7.532,/A7aBssjWennxvNxWT6be3PzFvSC.jpg,"Media Asia Films,Blue Fiction,Media Asia,Freem...","CN,HK",2009-03-24,329945,90,"cn,zh",Released,,The Sniper,False,58.57,63,The Sniper,2009,Unrated,09 Apr 2009,90 min,"Action, Crime, Thriller",Dante Lam,"Wai-Lun Ng, Dante Lam","Richie Jen, Xiaoming Huang, Edison Chen",A police sniper teams up with a hot-headed roo...,"Cantonese, English, Hokkien",Hong Kong,1 win & 1 nomination,https://m.media-amazon.com/images/M/MV5BYzNiMz...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,55.0,2204.0,tt1194624,movie,N/A,NaN,N/A,N/A,True,NaN,None,None,None,None,None,None,None,None,"[{'adult': False, 'cast_id': 6, 'character': '...","[{'adult': False, 'credit_id': '63dd4231373ac2...",False,0,0,0,0,1,1,NaN,5.5/10,NaN,NaN

We got new columns: 'Internet Movie Database','Metacritic', 'Rotten Tomatoes'.

Let's compare them with existing ratings columns in dataset, but first a bit of transformation.

In [82]:
df['Rotten Tomatoes'] = df['Rotten Tomatoes'].str.replace('%', '')
df['Rotten Tomatoes'] = pd.to_numeric(df['Rotten Tomatoes'], errors='coerce')
df['Metacritic'] = df['Metacritic'].str.split('/', expand=True).apply(lambda x: (float(x[0]) / float(x[1]) * 100), axis=1)
df['Metacritic'] = df['Metacritic'].astype(float)
df['Internet Movie Database'] = df['Internet Movie Database'].str.split('/', expand=True)[0]
df['Internet Movie Database'] = df['Internet Movie Database'].astype(float)
df['Internet Movie Database'] = df['Internet Movie Database'] * 10

In [83]:
i_nulls_1 = df['imdbRating'].isnull().sum()
i_nulls_2 = df['Internet Movie Database'].isnull().sum()

print(f'Null values in imdbRating: {i_nulls_1}')
print(f'Null values in Internet Movie Database: {i_nulls_2}')

mask = ~np.isclose(df['imdbRating'], df['Internet Movie Database'], atol=1e-8, equal_nan=True)
df[mask][['imdbRating', 'Internet Movie Database']]

Null values in imdbRating: 2
Null values in Internet Movie Database: 2

Empty DataFrame
Columns: [imdbRating, Internet Movie Database]
Index: []

In [84]:
metacritic_nulls = df['Metacritic'].isnull().sum()
metascore_nulls = df['Metascore'].isnull().sum()

print(f'Null values in Metacritic: {metacritic_nulls}')
print(f'Null values in Metascore: {metascore_nulls}')

mask = ~np.isclose(df['Metascore'], df['Metacritic'], atol=1e-8, equal_nan=True)
df[mask][['Metascore', 'Metacritic']]

Null values in Metacritic: 1194
Null values in Metascore: 1194

Empty DataFrame
Columns: [Metascore, Metacritic]
Index: []

As you can see Internet Movie Database is the same as imdbRating and Metacritic is the same as Metascore. So we got from Ratings only one useful columns - Rotten Tomatoes rating. 

So we have 4 different ratings from 4 different sources: 'vote_average', 'imdbRating', 'Metascore', 'Rotten Tomatoes'. At least one of them  vote_average (tmdb rating) don't have null values, so we might consider to create one rating metric from those 4 columns, now that they are on the same scale between 0 and 100, in the feature engineering stage intead of handeling nulls in each of then.

In [85]:
print(df[['vote_average', 'imdbRating', 'Metascore', 'Rotten Tomatoes']].isnull().sum())
df[['vote_average', 'imdbRating', 'Metascore', 'Rotten Tomatoes']].describe()

vote_average          0
imdbRating            2
Metascore          1194
Rotten Tomatoes     588
dtype: int64

       vote_average   imdbRating    Metascore  Rotten Tomatoes
count   5540.000000  5538.000000  4346.000000      4952.000000
mean      63.925381    64.442037    56.009204        57.422456
std        8.802161    10.405972    18.621514        28.157707
min        0.000000    17.000000     1.000000         0.000000
25%       58.680000    58.000000    43.000000        33.000000
50%       64.295000    65.000000    56.000000        61.000000
75%       69.950000    72.000000    69.000000        83.000000
max      100.000000    93.000000   100.000000       100.000000

Let's look at our money columns: budget, revenue and BoxOffice.

When analyzing the financial aspects of movies, like budgets, revenues, and box office collections, it's crucial to consider the impact of **inflation**. Inflation is the rate at which the general level of prices for goods and services rises, causing purchasing power to fall. Essentially, a dollar today is worth more than a dollar tomorrow. Therefore, when comparing the financial figures of movies released in different years, it's essential to adjust the numbers to account for inflation to make a fair comparison.

Additionally, while inspecting the `budget`, `revenue`, and `BoxOffice` columns.

In [86]:
df[['budget', 'revenue', 'BoxOffice']].describe()

             budget       revenue     BoxOffice
count  5.540000e+03  5.540000e+03  4.519000e+03
mean   2.489235e+07  6.753548e+07  4.132748e+07
std    3.357612e+07  1.356015e+08  5.957791e+07
min    3.000000e+00  1.000000e+00  3.000000e+01
25%    4.000000e+06  4.849128e+06  5.394394e+06
50%    1.300000e+07  2.010062e+07  2.121506e+07
75%    3.000000e+07  6.917570e+07  5.229070e+07
max    3.790000e+08  2.923706e+09  7.852216e+08

There seems to be a significant amount of variability in the budget, revenue, and BoxOffice columns as indicated by the high standard deviations. The min values in the budget, boxoffice and revenue columns are suspiciously low and likely erroneous or placeholders. These outliers could significantly skew the analysis and may need to be addressed. The discrepancy between the mean and median (50%) values in all three columns suggests a skew in the distribution, likely due to a few very high-budget or high-revenue movies. The BoxOffice column has fewer non-null values compared to budget and revenue, indicating missing data that may need to be handled.

In [87]:
# let's look at 0.5 percentile in budget
percentile_005 = df['budget'].quantile(0.005)
min_value = df['budget'].min()

count_between = df[(df['budget'] < percentile_005) & (df['budget'] >= min_value)].shape[0]

print(f'Number of values between 99th and 100th percentiles: {count_between}')

df[(df['budget'] < percentile_005) & (df['budget'] >= min_value)][['title', "budget", 'release_date']].sort_values(by='budget', ascending=False)

Number of values between 99th and 100th percentiles: 28

                                             title  budget release_date
1807               Blood, Guts, Bullets and Octane    7300   1998-10-16
275                                    El Mariachi    7225   1992-09-04
5422                                        Primer    7000   2004-10-08
181                                      Following    6000   1999-04-02
1784                              1 Night in Paris    5595   2004-06-09
3063                                   The Wedding    5000   2010-01-01
1795                                    Quiet City    2500   2007-08-29
3078                                      Monopoly    1917   1996-11-29
1120                            The Last Broadcast     900   1998-10-23
4397                               The Killing Jar     400   2010-02-14
3015                                American Adobo     344   2001-09-29
5469                     The Eylandt Investigation     250   2008-11-06
1272                     The Notorious Bettie Page      90   2005-09-14
3327                    Kickboxer 2: The Road Back      89   1991-01-30
2195      The Lost Treasure of the Knights Templar      85   2006-02-03
34                                   The Immortals      50   1995-10-05
58                                     God Willing      50   2006-01-30
1599  City Slickers II: The Legend of Curly's Gold      40   1994-06-10
5506      French Fried Vacation 3: Friends Forever      35   2006-02-01
2675                                   Housesitter      26   1992-06-12
3605                                         Naked      25   2000-12-15
3683                      Kiss of the Spider Woman      11   1985-07-26
3226                            Date With an Angel       8   1987-11-20
1141                Chestnut: Hero of Central Park       6   2004-10-21
5474                                   Hero Wanted       6   2008-03-28
4102                             Sex and Death 101       5   2007-06-15
1054                    MVP: Most Valuable Primate       4   2000-08-11
3142                               My Life in Pink       3   1997-05-28

In [88]:
# let's look at 0.5 percentile in revenue
percentile_005 = df['revenue'].quantile(0.005)
min_value = df['revenue'].min()

count_between = df[(df['revenue'] < percentile_005) & (df['revenue'] >= min_value)].shape[0]

print(f'Number of values between 99th and 100th percentiles: {count_between}')

df[(df['revenue'] < percentile_005) & (df['revenue'] >= min_value)][['title', "revenue", 'release_date']].sort_values(by='revenue', ascending=False)

Number of values between 99th and 100th percentiles: 28

                                             title  revenue release_date
976                                          Eegah     3274   1962-06-08
3358                              I Love Your Work     3264   2003-10-05
5191                    Philadelphia Experiment II     2970   1993-11-12
3077                         Deadlands: The Rising     2025   2006-10-23
3063                                   The Wedding     2000   2010-01-01
4048                                   High Strung      904   1992-01-08
1798                                 The Point Men      714   2001-09-07
870                                  Walk on Water      444   2004-02-05
5420                                    Trojan War      309   1997-09-26
1412                                 Cross of Iron      201   1977-01-29
692       The Goalie's Anxiety at the Penalty Kick      100   1972-02-19
2675                                   Housesitter       94   1992-06-12
5506      French Fried Vacation 3: Friends Forever       84   2006-02-01
34                                   The Immortals       83   1995-10-05
58                                     God Willing       80   2006-01-30
1599  City Slickers II: The Legend of Curly's Gold       43   1994-06-10
1864                                     Lynch Mob       40   2009-09-18
635                                    Zyzzyx Road       30   2006-02-25
397                                          Ben X       27   2007-08-26
3605                                         Naked       24   2000-12-15
1141                Chestnut: Hero of Central Park       10   2004-10-21
5474                                   Hero Wanted       10   2008-03-28
3142                               My Life in Pink        7   1997-05-28
5319                                To Rob a Thief        6   2007-08-31
4397                               The Killing Jar        2   2010-02-14
5304                                     The Horde        2   2010-02-10
1054                    MVP: Most Valuable Primate        1   2000-08-11
4102                             Sex and Death 101        1   2007-06-15

So you can notice that there are strange little numbers both in revenue and budget. I googled 'Tarnation' https://en.wikipedia.org/wiki/Tarnation_(2003_film) and wiki says budget $218.32. And then I gogled The Immortals https://en.wikipedia.org/wiki/Immortals_(2011_film) and it says Budget	$75 million so there is obviously some error in data which is less then 100. Also https://en.wikipedia.org/wiki/Housesitter shows $94.9 million boxoffice and not 94.

So I checked amount of such values for both budget and revenue which is less than 100$ and due to very little amount I'm going to drop those rows. If I had bigger number I would multiply those numbers by million.

In [89]:
filtered_df = df[(df['budget'] < 100) | (df['revenue'] < 100)]
filtered_df = filtered_df[(filtered_df['budget'] != 0) & (filtered_df['revenue'] != 0)]
print(filtered_df.shape)
filtered_df[['title', 'budget', 'revenue']]

(22, 72)

                                             title   budget   revenue
34                                   The Immortals       50        83
58                                     God Willing       50        80
397                                          Ben X  1500000        27
635                                    Zyzzyx Road  2000000        30
1054                    MVP: Most Valuable Primate        4         1
1141                Chestnut: Hero of Central Park        6        10
1272                     The Notorious Bettie Page       90   1410778
1599  City Slickers II: The Legend of Curly's Gold       40        43
1864                                     Lynch Mob   365000        40
2195      The Lost Treasure of the Knights Templar       85      9984
2675                                   Housesitter       26        94
3142                               My Life in Pink        3         7
3226                            Date With an Angel        8   1988962
3327                    Kickboxer 2: The Road Back       89   1250712
3605                                         Naked       25        24
3683                      Kiss of the Spider Woman       11  17005229
4102                             Sex and Death 101        5         1
4397                               The Killing Jar      400         2
5304                                     The Horde   688225         2
5319                                To Rob a Thief  4002313         6
5474                                   Hero Wanted        6        10
5506      French Fried Vacation 3: Friends Forever       35        84

I'm going to use historical inflation data to adjust the budget and revenue figures to today's dollars. This would provide a more accurate comparison of the financial success of movies over time. I found historical inflation rates here https://www.kaggle.com/datasets/pavankrishnanarne/us-inflation-dataset-1947-present/data. The dataset starts from 1947 so we should filter our movies starting from 1947.

In [90]:
cpi_data = pd.read_csv('../US_inflation_rates.csv', names=['date', 'CPI'], skiprows=1)  # Your CPI data

# Convert the 'date' column to datetime format and extract the year and month
cpi_data['date'] = pd.to_datetime(cpi_data['date'], format='%Y-%m-%d')
cpi_data['year'] = cpi_data['date'].dt.year
cpi_data['month'] = cpi_data['date'].dt.month

# get relase year and release month
df['release_month'] = pd.to_datetime(df['release_date']).dt.month
df['release_year'] = pd.to_datetime(df['release_date']).dt.year

# Merge the datasets on year and month
merged_data = pd.merge(df, cpi_data, left_on=['release_year', 'release_month'], right_on=['year', 'month'], how='left')

# filter movies with budget or revenue  with less than 1000$
merged_data = merged_data[(merged_data['budget'] >= 100) & (merged_data['revenue'] >= 100)]

# Find the most recent year and month in the dataset
max_year = cpi_data['year'].max()
max_month = cpi_data[cpi_data['year'] == max_year]['month'].max()

# Get the CPI value for the target year and month
target_cpi = cpi_data[(cpi_data['year'] == max_year) & (cpi_data['month'] == max_month)]['CPI'].values[0]

# Calculate the adjustment factor
merged_data['adjustment_factor'] = target_cpi / merged_data['CPI']

# Adjust the budget and revenue columns
merged_data['adjusted_budget'] = merged_data['budget'] * merged_data['adjustment_factor']
merged_data['adjusted_revenue'] = merged_data['revenue'] * merged_data['adjustment_factor']
merged_data['adjusted_boxoffice'] = merged_data['BoxOffice'] * merged_data['adjustment_factor']

# Set the float format to display the entire number
pd.options.display.float_format = '{:.2f}'.format

df = merged_data[merged_data['release_year'] >= 1947].drop(['year', 'month', 'date', 'CPI', 'adjustment_factor', 'budget', 'revenue'], axis=1)

And, finally, let's look at crew and cast columns. We have also 'Director', 'Writer', 'Actors', but let's see first what we can get from the credits dataset.

In [91]:
print("sample_crew:", df['crew'].iloc[0])
print("sample_cast:", df['cast'].iloc[0])

sample_crew: [{'adult': False, 'credit_id': '52fe459cc3a368484e064ef7', 'department': 'Directing', 'gender': 2, 'id': 102429, 'job': 'Director', 'known_for_department': 'Production', 'name': 'Roger Corman', 'original_name': 'Roger Corman', 'popularity': 7.107, 'profile_path': '/kWvtdBp4AVSOwluWwZ1WhsKlAfk.jpg'}
 {'adult': False, 'credit_id': '52fe459cc3a368484e064efd', 'department': 'Production', 'gender': 2, 'id': 102429, 'job': 'Producer', 'known_for_department': 'Production', 'name': 'Roger Corman', 'original_name': 'Roger Corman', 'popularity': 7.107, 'profile_path': '/kWvtdBp4AVSOwluWwZ1WhsKlAfk.jpg'}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064ea3', 'department': 'Camera', 'gender': 2, 'id': 4083, 'job': 'Director of Photography', 'known_for_department': 'Camera', 'name': 'Floyd Crosby', 'original_name': 'Floyd Crosby', 'popularity': 1.473, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064e8b', 'department': 'Writing', 'gender': 2, 'id': 12415, 'job': 'Screenplay', 'known_for_department': 'Writing', 'name': 'Richard Matheson', 'original_name': 'Richard Matheson', 'popularity': 2.167, 'profile_path': '/fTsTj0EMqH5GfVN0Kj252jsYZnB.jpg'}
 {'adult': False, 'credit_id': '5ccd8a569251412bdf253ec9', 'department': 'Sound', 'gender': 2, 'id': 27731, 'job': 'Sound Recordist', 'known_for_department': 'Sound', 'name': 'Roy Meadows', 'original_name': 'Roy Meadows', 'popularity': 0.98, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064ebb', 'department': 'Art', 'gender': 2, 'id': 30839, 'job': 'Set Decoration', 'known_for_department': 'Art', 'name': 'Harry Reif', 'original_name': 'Harry Reif', 'popularity': 1.4, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064ec1', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 30843, 'job': 'Makeup Artist', 'known_for_department': 'Costume & Make-Up', 'name': 'Ted Coodley', 'original_name': 'Ted Coodley', 'popularity': 1.008, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064e91', 'department': 'Production', 'gender': 2, 'id': 30904, 'job': 'Executive Producer', 'known_for_department': 'Production', 'name': 'Samuel Z. Arkoff', 'original_name': 'Samuel Z. Arkoff', 'popularity': 1.96, 'profile_path': '/2HduSEowO35hhpZrkCj2sdmxe4R.jpg'}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064eaf', 'department': 'Art', 'gender': 2, 'id': 28236, 'job': 'Production Design', 'known_for_department': 'Art', 'name': 'Daniel Haller', 'original_name': 'Daniel Haller', 'popularity': 2.277, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064eb5', 'department': 'Art', 'gender': 2, 'id': 28236, 'job': 'Art Direction', 'known_for_department': 'Art', 'name': 'Daniel Haller', 'original_name': 'Daniel Haller', 'popularity': 2.277, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064ea9', 'department': 'Editing', 'gender': 2, 'id': 41399, 'job': 'Editor', 'known_for_department': 'Editing', 'name': 'Anthony Carras', 'original_name': 'Anthony Carras', 'popularity': 0.63, 'profile_path': None}
 {'adult': False, 'credit_id': '652ad0031f3e6001399e578b', 'department': 'Writing', 'gender': 2, 'id': 48415, 'job': 'Short Story', 'known_for_department': 'Writing', 'name': 'Edgar Allan Poe', 'original_name': 'Edgar Allan Poe', 'popularity': 1.186, 'profile_path': '/AlgddAgqBWRZUNHtX2Rue60HSIg.jpg'}
 {'adult': False, 'credit_id': '56e15065c3a3680a17001fc4', 'department': 'Sound', 'gender': 0, 'id': 51379, 'job': 'Music Editor', 'known_for_department': 'Editing', 'name': 'Eve Newman', 'original_name': 'Eve Newman', 'popularity': 0.753, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064e97', 'department': 'Production', 'gender': 2, 'id': 51730, 'job': 'Executive Producer', 'known_for_department': 'Production', 'name': 'James H. Nicholson', 'original_name': 'James H. Nicholson', 'popularity': 0.84, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459bc3a368484e064e9d', 'department': 'Sound', 'gender': 2, 'id': 99452, 'job': 'Original Music Composer', 'known_for_department': 'Sound', 'name': 'Les Baxter', 'original_name': 'Les Baxter', 'popularity': 1.38, 'profile_path': '/Al8Y7Wqykey2ne2QcbLCUC2wjcZ.jpg'}
 {'adult': False, 'credit_id': '5df5b8259450fe001325d295', 'department': 'Production', 'gender': 2, 'id': 85766, 'job': 'Production Manager', 'known_for_department': 'Production', 'name': 'Bartlett A. Carré', 'original_name': 'Bartlett A. Carré', 'popularity': 1.094, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459cc3a368484e064ecd', 'department': 'Crew', 'gender': 0, 'id': 100988, 'job': 'Special Effects', 'known_for_department': 'Crew', 'name': 'Pat Dinga', 'original_name': 'Pat Dinga', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '52fe459cc3a368484e064ec7', 'department': 'Visual Effects', 'gender': 0, 'id': 100991, 'job': 'Visual Effects', 'known_for_department': 'Crew', 'name': 'Ray Mercer', 'original_name': 'Ray Mercer', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b9429450fe001125b9e2', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 103953, 'job': 'Costume Design', 'known_for_department': 'Costume & Make-Up', 'name': 'Marjorie Corso', 'original_name': 'Marjorie Corso', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '56e150499251411572000664', 'department': 'Sound', 'gender': 1, 'id': 118296, 'job': 'Sound Editor', 'known_for_department': 'Sound', 'name': 'Kay Rose', 'original_name': 'Kay Rose', 'popularity': 1.4, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b8629450fe001325d340', 'department': 'Directing', 'gender': 2, 'id': 987173, 'job': 'Second Unit Director', 'known_for_department': 'Production', 'name': 'Paul Rapp', 'original_name': 'Paul Rapp', 'popularity': 0.98, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b84d26dac1001750dfb7', 'department': 'Directing', 'gender': 0, 'id': 988933, 'job': 'Assistant Director', 'known_for_department': 'Production', 'name': 'Jack Bohrer', 'original_name': 'Jack Bohrer', 'popularity': 0.739, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b920d1a8930012784edc', 'department': 'Visual Effects', 'gender': 2, 'id': 1316341, 'job': 'Matte Painter', 'known_for_department': 'Visual Effects', 'name': 'Albert Whitlock', 'original_name': 'Albert Whitlock', 'popularity': 0.753, 'profile_path': None}
 {'adult': False, 'credit_id': '56e150839251410886002152', 'department': 'Art', 'gender': 0, 'id': 1588447, 'job': 'Construction Coordinator', 'known_for_department': 'Art', 'name': 'Ross Hahn', 'original_name': 'Ross Hahn', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b92fd1a8930012784ef3', 'department': 'Camera', 'gender': 0, 'id': 1588499, 'job': 'Still Photographer', 'known_for_department': 'Camera', 'name': 'Frank Tanner', 'original_name': 'Frank Tanner', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b8b09450fe001525c1cd', 'department': 'Art', 'gender': 2, 'id': 1588921, 'job': 'Property Master', 'known_for_department': 'Art', 'name': 'Richard M. Rubin', 'original_name': 'Richard M. Rubin', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b97c9450fe001325d68a', 'department': 'Directing', 'gender': 1, 'id': 2273837, 'job': 'Script Supervisor', 'known_for_department': 'Directing', 'name': 'Betty Crosby', 'original_name': 'Betty Crosby', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b9669450fe001325d63e', 'department': 'Sound', 'gender': 0, 'id': 2320582, 'job': 'Music Coordinator', 'known_for_department': 'Sound', 'name': 'Al Simms', 'original_name': 'Al Simms', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b83b65686e001583cddf', 'department': 'Production', 'gender': 0, 'id': 2482752, 'job': 'Unit Manager', 'known_for_department': 'Production', 'name': 'Robert Agnew', 'original_name': 'Robert Agnew', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b89a26dac10014510566', 'department': 'Crew', 'gender': 0, 'id': 2482753, 'job': 'Scenic Artist', 'known_for_department': 'Crew', 'name': 'Tom Matsumoto', 'original_name': 'Tom Matsumoto', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'credit_id': '5df5b99365686e001583d04e', 'department': 'Production', 'gender': 2, 'id': 2482756, 'job': 'Production Assistant', 'known_for_department': 'Production', 'name': 'Jack W. Cash', 'original_name': 'Jack W. Cash', 'popularity': 0.6, 'profile_path': None}]
sample_cast: [{'adult': False, 'cast_id': 13, 'character': 'Nicholas Medina / Sebastian Medina', 'credit_id': '52fe459cc3a368484e064ed1', 'gender': 2, 'id': 1905, 'known_for_department': 'Acting', 'name': 'Vincent Price', 'order': 0, 'original_name': 'Vincent Price', 'popularity': 15.238, 'profile_path': '/zhIh0YkweGOjiARx0wKhzdpB6kS.jpg'}
 {'adult': False, 'cast_id': 14, 'character': 'Francis Barnard', 'credit_id': '52fe459cc3a368484e064ed5', 'gender': 2, 'id': 62881, 'known_for_department': 'Acting', 'name': 'John Kerr', 'order': 1, 'original_name': 'John Kerr', 'popularity': 2.226, 'profile_path': '/nCpJUyot5fb9R1ySzA0NIeWMZvC.jpg'}
 {'adult': False, 'cast_id': 29, 'character': 'Elizabeth Barnard Medina', 'credit_id': '5abd8705c3a3687244002801', 'gender': 1, 'id': 5685, 'known_for_department': 'Acting', 'name': 'Barbara Steele', 'order': 2, 'original_name': 'Barbara Steele', 'popularity': 5.701, 'profile_path': '/m5rKaeUo5kwTBqZpBonzfPwkuIn.jpg'}
 {'adult': False, 'cast_id': 16, 'character': 'Catherine Medina', 'credit_id': '52fe459cc3a368484e064edd', 'gender': 1, 'id': 77485, 'known_for_department': 'Acting', 'name': 'Luana Anders', 'order': 3, 'original_name': 'Luana Anders', 'popularity': 1.189, 'profile_path': '/uoapFspZeq5AwxQKRgTkJZJNkmA.jpg'}
 {'adult': False, 'cast_id': 17, 'character': 'Doctor Leon', 'credit_id': '52fe459cc3a368484e064ee1', 'gender': 2, 'id': 89038, 'known_for_department': 'Acting', 'name': 'Antony Carbone', 'order': 4, 'original_name': 'Antony Carbone', 'popularity': 1.542, 'profile_path': '/6AQ8FrC8A6RPoctlisDidekPv2x.jpg'}
 {'adult': False, 'cast_id': 18, 'character': 'Maximillian', 'credit_id': '52fe459cc3a368484e064ee5', 'gender': 2, 'id': 100992, 'known_for_department': 'Acting', 'name': 'Patrick Westwood', 'order': 5, 'original_name': 'Patrick Westwood', 'popularity': 1.092, 'profile_path': None}
 {'adult': False, 'cast_id': 19, 'character': 'Maria', 'credit_id': '52fe459cc3a368484e064ee9', 'gender': 1, 'id': 100993, 'known_for_department': 'Acting', 'name': 'Lynette Bernay', 'order': 6, 'original_name': 'Lynette Bernay', 'popularity': 1.964, 'profile_path': '/Ac7KMfLKeCYJMuta6tw9eAmpT2K.jpg'}
 {'adult': False, 'cast_id': 20, 'character': 'Isabella', 'credit_id': '52fe459cc3a368484e064eed', 'gender': 0, 'id': 100994, 'known_for_department': 'Acting', 'name': 'Mary Menzies', 'order': 7, 'original_name': 'Mary Menzies', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'cast_id': 30, 'character': 'Bartolome', 'credit_id': '5b976b969251411fd600578f', 'gender': 2, 'id': 2126061, 'known_for_department': 'Acting', 'name': 'Charles Victor', 'order': 8, 'original_name': 'Charles Victor', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'cast_id': 45, 'character': 'Young Nicholas', 'credit_id': '5df5b9d4d1a8930012785056', 'gender': 0, 'id': 2482757, 'known_for_department': 'Acting', 'name': 'Larry Turner', 'order': 9, 'original_name': 'Larry Turner', 'popularity': 0.6, 'profile_path': None}
 {'adult': False, 'cast_id': 46, 'character': 'Extra (uncredited)', 'credit_id': '650bc3f64da3d400c9dc99fe', 'gender': 1, 'id': 1333852, 'known_for_department': 'Acting', 'name': 'Randee Lynne Jensen', 'order': 10, 'original_name': 'Randee Lynne Jensen', 'popularity': 0.694, 'profile_path': '/bTLMpmbFYdOMIRcdWOuTaN88Bjf.jpg'}]

So you can notice that:

* cast: a list of dictionaries consisting of cast names and the corresponding characters they played.
* crew: a list of dictionaries consisting of crew names and the function they performed.

We then simplified the data in the cast and crew columns to focus on key details - keeping only the name and popularity of cast members, and the name, popularity, and job of crew members. This way, our dataset becomes more manageable and ready for analyzing factors that might influence movie success.

In [92]:
# just in case
df = df[df['crew'].notnull()]
df = df[df['cast'].notnull()]

def clean_cast_members(members):
    # Retain only 'name' and 'popularity' keys for each member
    return [{'name': member['name'].lower(), 'popularity': member['popularity']} for member in members]

def clean_crew_members(members):
    # Retain only 'name', 'popularity', and 'job' keys for each member
    return [{'name': member['name'].lower(), 'popularity': member['popularity'], 'job': member['job'].lower()} for member in members]

# Apply the cleaning function to 'cast' and 'crew' columns
df['cast'] = df['cast'].apply(clean_cast_members)
df['crew'] = df['crew'].apply(clean_crew_members)

Let's make an overview what we are doing with original dataset columns:

| Column | Meaning | Take as a feature? | Why? | 
| :- | :- | :- | :- |
| adult | If the movie is X-Rated or Adult | No | Too many identical values (False), not useful |
| backdrop_path | Path to image | No | Not useful |
| belongs_to_collection | The movie series the particular film belongs to | No | All NULLs |
| genres | The genres associated with the movie | Yes | N/A |
| homepage | Path to the movie homepage | No | Not useful |
| id | TMDB id | No | Needed for joining with credits dataset |
| imdb_id | IMDB id | No | Not useful |
| original_language | The language in which the movie was originally shot | Yes | N/A |
| original_title | The original title of the movie in the native language | No | Not useful |
| overview | Short description of the movie | Yes | N/A |
| poster_path | Path to image | No | Not useful |
| production_companies | List of production companies involved with the making of the movie | Yes | N/A |
| production_countries | List of countries where the movie was shot/produced | Yes | N/A |
| release_date | Release date of the movie | Yes | we will take release_year and release_month |
| runtime | The runtime of the movie in minutes | Yes | N/A |
| spoken_languages | List of spoken languages in the film | Yes | N/A |
| status | Status of the movie | No | We took only Released status |
| tagline | Tagline of the movie | Yes | N/A |
| title | Title of the movie (TMDB) | Yes | N/A |
| video | Indicates if there is a video present of the movie with TMDB | No | Not useful |
| vote_count | Number of votes by users, as counted by TMDB | Yes | N/A |
| Title | Title of the movie (OMDB) | No | Duplicate of 'title' |
| Year | Year of release | No | Duplicate of year in the 'release_date' |
| Rated | MPA film rating | Yes | N/A |
| Released | Release date (OMDB) | No | Duplicate of 'release_date' |
| Runtime | Runtime (OMDB) | No | Duplicate of 'runtime' |
| Genre | Genre (OMDB) | No | Duplicate of 'genres' |
| Director | Director of the movie | No | This info will be obtained from the credits dataset |
| Writer | Writer of the movie | No | This info will be obtained from the credits dataset |
| Actors | List of actors | No | This info will be obtained from the credits dataset |
| Plot | Plot description | Yes | N/A |
| Language | Language (OMDB) | No | Duplicate of 'original_language' |
| Country | Production country (OMDB) | No | Duplicate of 'production_countries' |
| Poster | Path to poster image | No | Not useful |
| imdbVotes | Count of votes on IMDB | Yes | N/A |
| imdbID | IMDB ID | No | Not useful |
| Type | Type of media (movie/series) | No | We filtered only movie type |
| totalSeasons | Total seasons if the media is a series | No | Not relevant |
| Season | Season number if the media is a series | No | All NULLs |
| Episode | Episode number if the media is a series | No | All NULLs |
| seriesID | Series ID if the media is a series | No | All NULLs |
| Error | Error message | No | All NULLs |
| belongs_to_collection.id | Collection ID | No | Replaced by boolean column |
| belongs_to_collection.name | Name of collection | No | Replaced by boolean column |
| belongs_to_collection.poster_path | Path to collection poster | No | Replaced by boolean column |
| belongs_to_collection.backdrop_path | Path to collection backdrop image | No | Replaced by boolean column |
| DVD | The date when the movie was released on DVD | No | Not useful |
| Website | Link to movie website | No | Not useful |
| BoxOffice | Box office revenue | Yes | N/A |
| Production | Production company | No | We have 'production_companies' column |
| Response | Response message | No | Not relevant |
| Ratings | List of ratings in different systems - Metacritic (in Metascore), Rotten Tomatoes, IMDB (in imdbRating) | Yes | Only Rotten Tomatoes |
| Metascore | Metacritic rating | Yes | N/A |
| imdbRating | IMDB rating | Yes | N/A |
| vote_average | Average rating of the movie by TMDB | Yes | N/A |
| popularity | Popularity Score assigned by TMDB | Yes | N/A |
| budget | The budget of the movie in dollars, adjusted with inflation rate | Yes | N/A |
| revenue | The total revenue of the movie in dollars, adjusted with inflation rate | Yes | N/A |
| Awards | Awards won/nominated | Yes | N/A |

In [93]:

dataset_df = df[['title', 'release_year', 'release_month', "original_language" , 'spoken_languages', 'genres',
                       'production_companies',  'production_countries', 'runtime', 'Rated', 'tagline', 'overview', 'Plot',
                         'popularity', 'vote_average', 'vote_count', 'cast', 'crew', 'collection',
                       'oscar_won', 'oscar_nominated', 'bafta_won', 'bafta_nominated', 'awards_won', 'awards_nominated',
                      'Rotten Tomatoes', 'Metascore', 'imdbRating', 'imdbVotes', 'adjusted_budget', 'adjusted_revenue', 'adjusted_boxoffice']].copy()
# Standardize column names
dataset_df.columns = dataset_df.columns.str.lower().str.replace(' ', '_')


dataset_df.rename(columns={"popularity": "tmdb_popularity", "vote_average": "tmdb_rating",
                     "vote_count": "tmdb_vote_count", 'metascore': 'metacritic_rating',
                     "imdbrating": "imdb_rating", 'imdbvotes': 'imdb_votes', "rotten_tomatoes": "rotten_tomatoes_rating"}, inplace=True)

# lower all values in categorical columns
categorical_vars = list(dataset_df.dtypes[dataset_df.dtypes == 'object'].index)
categorical_vars.remove('crew')
categorical_vars.remove('cast')
for c in categorical_vars:
    dataset_df[c] = dataset_df[c].str.lower()

pd.set_option('display.max_columns', None)
dataset_df.head(2)

,title,release_year,release_month,original_language,spoken_languages,genres,production_companies,production_countries,runtime,rated,tagline,overview,plot,tmdb_popularity,tmdb_rating,tmdb_vote_count,cast,crew,collection,oscar_won,oscar_nominated,bafta_won,bafta_nominated,awards_won,awards_nominated,rotten_tomatoes_rating,metacritic_rating,imdb_rating,imdb_votes,adjusted_budget,adjusted_revenue,adjusted_boxoffice
0,the pit and the pendulum,1961,8,en,en,"horror,mystery","alta vista productions,american international ...",us,81,unrated,betrayal cuts both ways!,"in the sixteenth century, francis barnard trav...","in the sixteenth century, francis barnard trav...",9.49,68.25,288,"[{'name': 'vincent price', 'popularity': 15.23...","[{'name': 'roger corman', 'popularity': 7.107,...",False,0,0,0,0,0,0,88.00,78.00,70.00,15801.00,2029666.00,20296659.99,NaN
1,universal soldier: regeneration,2009,10,en,"bg,en","adventure,action,science fiction,thriller","foresight unlimited,signature entertainment,ba...",us,97,r,reanimated. rearmed. the ultimate rematch,when terrorists threaten nuclear catastrophe a...,terrorists kidnap the russian prime minister's...,15.84,55.98,405,"[{'name': 'jean-claude van damme', 'popularity...","[{'name': 'mark damon', 'popularity': 3.125, '...",True,0,0,0,0,0,0,NaN,70.00,53.00,26273.00,19647100.12,1228485.46,NaN

In [94]:
dataset_df.to_parquet('../data/cleaned/movies_dataset.parquet', compression='gzip')