In [67]:
import pandas as pd

### Data Preparation and Cleaning

The dataset is combined from TMDB API and OMDB API.

You can look at the scraping process in scrape_data.ipynb

In [68]:
# The dataset is combined from TMDB API and OMDB API.
# You can look at the scraping process in scrape_data.ipynb
df = pd.read_parquet('../data/movies.parquet')

Let's take a look at the shape, features that are available to us and preview the data

Dataset is X movies with 58 metadata columns/features.

In [69]:
print(df.shape)
print(df.columns)
df.head(10)

(4761, 59)
Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'Title', 'Year', 'Rated', 'Released',
       'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language',
       'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'totalSeasons', 'Response', 'DVD',
       'BoxOffice', 'Production', 'Website', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'Season', 'Episode', 'seriesID',
       'Error'],
      dtype='object')

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,Production,Website,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,Season,Episode,seriesID,Error
0,False,None,NaN,0,"[{'id': 18, 'name': 'Drama'}]",,4501,tt0335663,de,Der Fall Rohrbach,...,None,None,NaN,None,None,None,None,None,None,None
1,False,/7u6P46nr6vNua00DmKOyzfrqTv1.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,4507,tt0104545,es,"Jamón, jamón",...,N/A,N/A,NaN,None,None,None,None,None,None,None
2,False,/5r2BZajlRZqnOc6s2BS0aiFDcne.jpg,NaN,30000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://jessejamesmovie.warnerbros.com/,4512,tt0443680,en,The Assassination of Jesse James by the Coward...,...,N/A,N/A,NaN,None,None,None,None,None,None,None
3,False,/w8VDpCcKezdBbXJEWMHwttI35mU.jpg,NaN,30000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.30daysofnight.com/,4513,tt0389722,en,30 Days of Night,...,N/A,N/A,91660.0,30 Days of Night Collection,/fRAZnIegztYTPsM9eGjSUusKUYM.jpg,/uKN4mENg8BVeKCxwWXGCvFeUim8.jpg,None,None,None,None
4,False,/jWZqmct37aYQKB6TU9IaTg6346G.jpg,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",,4515,tt0891527,en,Lions for Lambs,...,N/A,N/A,NaN,None,None,None,None,None,None,None
5,False,/3CEKwdKVLfSCzeAOpqVLquLwGQQ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://www.monmeilleurami-lefilm.com/,4516,tt0778784,fr,Mon Meilleur Ami,...,N/A,N/A,NaN,None,None,None,None,None,None,None
6,False,/7NvMR6ihwuH8aXQ8PnVxSpxaMxV.jpg,NaN,55000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,4517,tt0414055,en,Elizabeth: The Golden Age,...,N/A,N/A,100286.0,Elizabeth Collection,/2XxIeKB6g21GvPmixWyyc9ZlLnR.jpg,/3YiTOxGX5KZO6P3eg41P50QrRhQ.jpg,None,None,None,None
7,False,/cCzvJ95pEB1I5cUX7Zjfl606noN.jpg,NaN,30000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,4518,tt0127536,en,Elizabeth,...,N/A,N/A,100286.0,Elizabeth Collection,/2XxIeKB6g21GvPmixWyyc9ZlLnR.jpg,/3YiTOxGX5KZO6P3eg41P50QrRhQ.jpg,None,None,None,None
8,False,/ii3WNOfgEp62jkJAHAOJyYwRfhl.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,4519,tt0825244,fr,Dialogue avec mon jardinier,...,N/A,N/A,NaN,None,None,None,None,None,None,None
9,False,/7Pc719slk1WDC4fH1pk28pdPemv.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",http://www.sonyclassics.com/sleuth/,4520,tt0857265,en,Sleuth,...,N/A,N/A,NaN,None,None,None,None,None,None,None

In [70]:
df.describe()

,belongs_to_collection,budget,id,popularity,revenue,runtime,vote_average,vote_count,belongs_to_collection.id
count,0.0,4.761000e+03,4761.000000,4761.000000,4.761000e+03,4761.000000,4761.000000,4761.000000,9.300000e+02
mean,NaN,1.417849e+07,4375.326822,14.098845,4.633715e+07,103.663516,6.037110,1232.254568,2.267068e+05
std,NaN,2.968497e+07,3005.637823,17.070664,1.178032e+08,27.683008,1.842491,2727.499602,3.090198e+05
min,NaN,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+01
25%,NaN,0.000000e+00,1813.000000,3.049000,0.000000e+00,90.000000,5.700000,16.000000,8.597500e+03
50%,NaN,0.000000e+00,4170.000000,10.398000,0.000000e+00,100.000000,6.459000,198.000000,9.539500e+04
75%,NaN,1.500000e+07,6548.000000,18.519000,3.458542e+07,115.000000,7.100000,1152.000000,2.968582e+05
max,NaN,3.790000e+08,9713.000000,302.315000,2.264162e+09,460.000000,10.000000,30664.000000,1.177319e+06

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4761 entries, 0 to 4944
Data columns (total 59 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   adult                                4761 non-null   bool
 1   backdrop_path                        4049 non-null   object
 2   belongs_to_collection                0 non-null      float64
 3   budget                               4761 non-null   int64
 4   genres                               4761 non-null   object
 5   homepage                             4761 non-null   object
 6   id                                   4761 non-null   int64
 7   imdb_id                              4761 non-null   object
 8   original_language                    4761 non-null   object
 9   original_title                       4761 non-null   object
 10  overview                             4761 non-null   object
 11  popularity                           4761 non-null   float64
 12  poster_path                          4536 non-null   object
 13  production_companies                 4761 non-null   object
 14  production_countries                 4761 non-null   object
 15  release_date                         4761 non-null   object
 16  revenue                              4761 non-null   int64
 17  runtime                              4761 non-null   int64
 18  spoken_languages                     4761 non-null   object
 19  status                               4761 non-null   object
 20  tagline                              4761 non-null   object
 21  title                                4761 non-null   object
 22  video                                4761 non-null   bool
 23  vote_average                         4761 non-null   float64
 24  vote_count                           4761 non-null   int64
 25  Title                                4759 non-null   object
 26  Year                                 4759 non-null   object
 27  Rated                                4759 non-null   object
 28  Released                             4759 non-null   object
 29  Runtime                              4759 non-null   object
 30  Genre                                4759 non-null   object
 31  Director                             4759 non-null   object
 32  Writer                               4759 non-null   object
 33  Actors                               4759 non-null   object
 34  Plot                                 4759 non-null   object
 35  Language                             4759 non-null   object
 36  Country                              4759 non-null   object
 37  Awards                               4759 non-null   object
 38  Poster                               4759 non-null   object
 39  Ratings                              4759 non-null   object
 40  Metascore                            4759 non-null   object
 41  imdbRating                           4759 non-null   object
 42  imdbVotes                            4759 non-null   object
 43  imdbID                               4759 non-null   object
 44  Type                                 4759 non-null   object
 45  totalSeasons                         19 non-null     object
 46  Response                             4761 non-null   object
 47  DVD                                  4728 non-null   object
 48  BoxOffice                            4728 non-null   object
 49  Production                           4728 non-null   object
 50  Website                              4728 non-null   object
 51  belongs_to_collection.id             930 non-null    float64
 52  belongs_to_collection.name           930 non-null    object
 53  belongs_to_collection.poster_path    891 non-null    object
 54  belongs_to_collection.backdrop_path  822 non-null    object
 55  Season                               12 non-null     object
 56  Episode                              12 non-null     object
 57  seriesID                             12 non-null     object
 58  Error                                2 non-null      object
dtypes: bool(2), float64(4), int64(5), object(48)
memory usage: 2.1+ MB

Let's have a look at columns and select only relevant ones

In [72]:
# title vs original title: so we can see that original_title is in the native language, so we can drop it and leave only title
df[df['original_title'] != df['title']][['title', 'original_title']].head(10)

,title,original_title
1,Jamon Jamon,"Jamón, jamón"
5,My Best Friend,Mon Meilleur Ami
8,Conversations with My Gardener,Dialogue avec mon jardinier
11,"Death Is Nimble, Death Is Quick",Kommissar X - Drei gelbe Katzen
12,"Kiss Kiss, Kill Kill",Kommissar X - Jagd auf Unbekannt
13,The Count of Monte Cristo,Le Comte de Monte-Cristo
14,The Defector,L'espion
15,"So Darling, So Deadly",Kommissar X - In den Klauen des goldenen Drachen
16,Kill Me Gently,Kommissar X - Drei grüne Hunde
17,"Kill, Panther, Kill!",Kommissar X - Drei blaue Panther

In [73]:
# status of the movie, we will actually need only released movie so the data should be filtered
print(df['status'].value_counts())
df = df[df['status'].str.lower() == 'released']

status
Released           4758
Post Production       2
Canceled              1
Name: count, dtype: int64

In [74]:
# We have too many False in adult columns and mostly NULL values in belongs_to_collection.
# Those 2 features are not of much use to us
print(df['adult'].value_counts())
print(df['belongs_to_collection'].value_counts())

adult
False    4746
True       12
Name: count, dtype: int64
Series([], Name: count, dtype: int64)

In [75]:
df.head().transpose()

,0,1,2,3,4
adult,False,False,False,False,False
backdrop_path,None,/7u6P46nr6vNua00DmKOyzfrqTv1.jpg,/5r2BZajlRZqnOc6s2BS0aiFDcne.jpg,/w8VDpCcKezdBbXJEWMHwttI35mU.jpg,/jWZqmct37aYQKB6TU9IaTg6346G.jpg
belongs_to_collection,NaN,NaN,NaN,NaN,NaN
budget,0,0,30000000,30000000,35000000
genres,"[{'id': 18, 'name': 'Drama'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
homepage,,,http://jessejamesmovie.warnerbros.com/,http://www.30daysofnight.com/,
id,4501,4507,4512,4513,4515
imdb_id,tt0335663,tt0104545,tt0443680,tt0389722,tt0891527
original_language,de,es,en,en,en
original_title,Der Fall Rohrbach,"Jamón, jamón",The Assassination of Jesse James by the Coward...,30 Days of Night,Lions for Lambs
overview,,Jose Luis is an executive at his parents under...,Outlaw Jesse James is rumored to be the 'faste...,This is the story of an isolated Alaskan town ...,Three stories told simultaneously in ninety mi...
popularity,1.093,16.879,22.557,31.847,12.706
poster_path,None,/wAucj0pm9eGaC8nx01pbdyvK4VS.jpg,/2d1S6fJS80fvseg6mJE8eq5o7Kx.jpg,/7LwSrvFA0gz1KAlcrGcinoQPene.jpg,/rvpxNsR0n4zh40WM6MiUlkV60on.jpg
production_companies,[],"[{'id': 21147, 'logo_path': None, 'name': 'Oví...","[{'id': 81, 'logo_path': '/8wOfUhA7vwU2gbPjQy7...","[{'id': 24339, 'logo_path': None, 'name': 'Hor...","[{'id': 44, 'logo_path': None, 'name': 'Cruise..."
production_countries,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]","[{'iso_3166_1': 'ES', 'name': 'Spain'}]","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'NZ', 'name': 'New Zealand'}, ...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1963-05-08,1992-09-03,2007-09-20,2007-10-17,2007-10-22
revenue,0,0,14711793,75505973,64811540
runtime,270,95,160,113,92
spoken_languages,"[{'english_name': 'German', 'iso_639_1': 'de',...","[{'english_name': 'Spanish', 'iso_639_1': 'es'...","[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'..."
status,Released,Released,Released,Released,Released
tagline,,A film where women eat men and men eat ham,Beyond the myth lies America's greatest betrayal,They're Coming!,"If you don't STAND for something, you might FA..."
title,Der Fall Rohrbach,Jamon Jamon,The Assassination of Jesse James by the Coward...,30 Days of Night,Lions for Lambs
video,False,False,False,False,False
vote_average,0.0,6.221,7.049,6.4,6.021
vote_count,0,306,2276,2511,681
Title,Der Fall Rohrbach,"Jamón, Jamón",The Assassination of Jesse James by the Coward...,30 Days of Night,Lions for Lambs
Year,1963–,1992,2007,2007,2007
Rated,N/A,R,R,R,R
Released,08 May 1963,04 Feb 1994,19 Oct 2007,19 Oct 2007,09 Nov 2007
Runtime,270 min,95 min,160 min,113 min,92 min
Genre,N/A,"Comedy, Drama, Romance","Biography, Crime, Drama","Action, Adventure, Horror","Crime, Drama, Mystery"
Director,N/A,Bigas Luna,Andrew Dominik,David Slade,Robert Redford
Writer,N/A,"Cuca Canals, Bigas Luna, Quim Monzó","Andrew Dominik, Ron Hansen","Steve Niles, Stuart Beattie, Brian Nelson",Matthew Michael Carnahan
Actors,"Anita Höfer, Eva Christian, Harry Riebauer","Penélope Cruz, Stefania Sandrelli, Anna Galiena","Brad Pitt, Casey Affleck, Sam Shepard","Josh Hartnett, Melissa George, Danny Huston","Tom Cruise, Meryl Streep, Robert Redford"
Plot,N/A,"When a mother disapproves of her son's lover, ...","Robert Ford, who's idolized Jesse James since ...",After an Alaskan town is plunged into darkness...,Injuries sustained by two Army rangers behind ...
Language,German,Spanish,"English, Danish",English,English
Country,West Germany,Spain,"United States, Canada, United Kingdom","United States, New Zealand",United States
Awards,N/A,6 wins & 12 nominations,Nominated for 2 Oscars. 25 wins & 69 nominatio...,14 nominations,3 nominations
Poster,N/A,https://m.media-amazon.com/images/M/MV5BODY0N2...,https://m.media-amazon.com/images/M/MV5BMTY2ND...,https://m.media-amazon.com/images/M/MV5BZmE2OD...,https://m.media-amazon.com/images/M/MV5BMTcyMz...
Ratings,"[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'..."
Metascore,N/A,N/A,68,53,47
imdbRating,9.1,6.4,7.5,6.6,6.2
imdbVotes,15,"14,634","189,145","185,010","51,661"
imdbID,tt0335663,tt0104545,tt0443680,tt0389722,tt0891527
Type,series,movie,movie,movie,movie
totalSeasons,1,None,None,None,None
Response,True,True,True,True,True
DVD,None,24 Apr 2019,01 Dec 2009,12 Feb 2014,17 Oct 2016
BoxOffice,None,"$938,473","$3,909,149","$39,569,000","$15,002,854"
Production,None,N/A,N/A,N/A,N/A
Website,None,N/A,N/A,N/A,N/A
belongs_to_collection.id,NaN,NaN,NaN,91660.0,NaN
belongs_to_collection.name,None,None,None,30 Days of Night Collection,None
belongs_to_collection.poster_path,None,None,None,/fRAZnIegztYTPsM9eGjSUusKUYM.jpg,None
belongs_to_collection.backdrop_path,None,None,None,/uKN4mENg8BVeKCxwWXGCvFeUim8.jpg,None
Season,None,None,None,None,None
Episode,None,None,None,None,None
seriesID,None,None,None,None,None
Error,None,None,None,None,None

In [76]:
# we have release_date column which have day, month and year so other date related columns as Year and Released can be dropped
df[df['release_date'].isnull()].shape #- zero NULL values

(0, 59)

In [77]:
# let's look at how many NULLs other fields contain
var = df.isnull().sum()
print(var.to_string())

adult                                     0
backdrop_path                           709
belongs_to_collection                  4758
budget                                    0
genres                                    0
homepage                                  0
id                                        0
imdb_id                                   0
original_language                         0
original_title                            0
overview                                  0
popularity                                0
poster_path                             223
production_companies                      0
production_countries                      0
release_date                              0
revenue                                   0
runtime                                   0
spoken_languages                          0
status                                    0
tagline                                   0
title                                     0
video                                     0
vote_average                              0
vote_count                                0
Title                                     0
Year                                      0
Rated                                     0
Released                                  0
Runtime                                   0
Genre                                     0
Director                                  0
Writer                                    0
Actors                                    0
Plot                                      0
Language                                  0
Country                                   0
Awards                                    0
Poster                                    0
Ratings                                   0
Metascore                                 0
imdbRating                                0
imdbVotes                                 0
imdbID                                    0
Type                                      0
totalSeasons                           4739
Response                                  0
DVD                                      31
BoxOffice                                31
Production                               31
Website                                  31
belongs_to_collection.id               3828
belongs_to_collection.name             3828
belongs_to_collection.poster_path      3867
belongs_to_collection.backdrop_path    3936
Season                                 4746
Episode                                4746
seriesID                               4746
Error                                  4758

In [65]:
# we will need only movies, because others are incompariable categories
print(df['Type'].value_counts())
df[df['Type'].str.lower() == 'series'][['title', 'original_title']]
df = df[df['status'].str.lower() == 'movie']

Type
movie      4023
series       17
episode      12
Name: count, dtype: int64

| Column | Meaning | Take as a feature? | Why? | 
| :- | :- | :- | :- |
| adult | if the movie is X-Rated or Adult | No | too many identical values (False), not usefull |
| backdrop_path | path to image | No | not usefull |
| belongs_to_collection | the movie series the particular film belongs to | No | almost all NULL |
| genres | the genres associated with the movie | Yes | - |
| homepage | path to the movie homepage | No | not usefull |
| id | TMDB id | No | not usefull |
| imdb_id | IMDB id | No | not usefull |
| original_language | the language in which the movie was originally shot in | Yes | - |
| original_title | The original title of the movie in the native language | No | not usefull |
| overview | short description of the movie | Yes | - |
| poster_path | path to image | No | not usefull |
| production_companies | list of production companies involved with the making of the movie | Yes | - |
| production_countries | list of countries where the movie was shot/produced in | Yes | - |
| release_date |  | Yes | - |
| runtime | the runtime of the movie in minutes | Yes | - |
| spoken_languages | list of spoken languages in the film | Yes | - |
| status | status of the movie | No | we take only Released status |
| tagline | tagline of the movie | Yes | - |
| status | status of the movie | No | we take only Released status |
| title | title of the movie | Yes | - |
| video | Indicates if there is a video present of the movie with TMDB | No | not usefull |
| vote_count | number of votes by users, as counted by TMDB | Yes | - |
| Title |  | No | duplicate of title |
| Year |  | No | duplicate of year in the release_date |
| Rated | MPA film rating | Yes | - |
| Released |  | No | duplicate of release_date |
| Runtime |  | No | duplicate of runtime |
| Genre |  | No | duplicate of genres |
| Plot |  | Yes | - |
| Language |  | No | duplicate of original_language |
| Country |  | No | duplicate of production_countries |
| Poster | path to poster image | No | not usefull |
| imdbVotes | count of voutes | Yes | - |
| imdbID | IMDB id | No | not usefull |
| Type | status of the movie | No | we filtered only movie type |
| totalSeasons |  | No | Not relevant |
| Season |  | No | Not relevant |
| Episode |  | No | Not relevant |
| seriesID |  | No | Not relevant |
| Error |  | No | Not relevant |
| belongs_to_collection.id|  | No | Almost all rows are NULL |
| belongs_to_collection.name|  | No | Almost all rows are NULL |
| belongs_to_collection.poster_path|  | No | Almost all rows are NULL |
| belongs_to_collection.backdrop_path|  | No | Almost all rows are NULL |
| DVD | the date when the movie was released on dvd | No | Not useful |
| Website | link | No | Not useful |
| BoxOffice |  | No | We have revenue column plus too many NULLS |
| Production |  | No | We have production_companies column |
| Response | link | No | Not relevant |
| Ratings | list of ratings in different system - metacritic, rotten tomatoes, imdb | Yes | |
| Metascore | metacritic rating | Yes | - |
| imdbRating | imdb raiting | Yes | - |
| vote_average | average rating of the movie by TMDB | Yes | - |
| popularity | popularity Score assigned by TMDB | Yes | - |
| budget | the budget of the movie in dollars | Yes | - |
| revenue | the total revenue of the movie in dollars | Yes | - |
| Awards |  | Yes | - |

In [82]:
# 'Director', 'Writer', 'Actors',
dataset_df = df[['title', 'release_date', "original_language" , 'spoken_languages', 'genres',
                       'production_companies',  'production_countries', 'runtime', 'Rated', 'tagline', 'overview', 'Plot',
                       'budget', 'revenue', 'popularity', 'vote_average', 'vote_count',
                         'Awards', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes']].copy()
dataset_df.head()

,title,release_date,original_language,spoken_languages,genres,production_companies,production_countries,runtime,Rated,tagline,...,budget,revenue,popularity,vote_average,vote_count,Awards,Ratings,Metascore,imdbRating,imdbVotes
0,Der Fall Rohrbach,1963-05-08,de,"[{'english_name': 'German', 'iso_639_1': 'de',...","[{'id': 18, 'name': 'Drama'}]",[],"[{'iso_3166_1': 'DE', 'name': 'Germany'}]",270,N/A,,...,0,0,1.093,0.000,0,N/A,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,9.1,15
1,Jamon Jamon,1992-09-03,es,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 21147, 'logo_path': None, 'name': 'Oví...","[{'iso_3166_1': 'ES', 'name': 'Spain'}]",95,R,A film where women eat men and men eat ham,...,0,0,16.879,6.221,306,6 wins & 12 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,6.4,"14,634"
2,The Assassination of Jesse James by the Coward...,2007-09-20,en,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'id': 81, 'logo_path': '/8wOfUhA7vwU2gbPjQy7...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",160,R,Beyond the myth lies America's greatest betrayal,...,30000000,14711793,22.557,7.049,2276,Nominated for 2 Oscars. 25 wins & 69 nominatio...,"[{'Source': 'Internet Movie Database', 'Value'...",68,7.5,"189,145"
3,30 Days of Night,2007-10-17,en,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...","[{'id': 24339, 'logo_path': None, 'name': 'Hor...","[{'iso_3166_1': 'NZ', 'name': 'New Zealand'}, ...",113,R,They're Coming!,...,30000000,75505973,31.847,6.400,2511,14 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",53,6.6,"185,010"
4,Lions for Lambs,2007-10-22,en,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 44, 'logo_path': None, 'name': 'Cruise...","[{'iso_3166_1': 'US', 'name': 'United States o...",92,R,"If you don't STAND for something, you might FA...",...,35000000,64811540,12.706,6.021,681,3 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",47,6.2,"51,661"

In [ ]:

# genres are usefule but we should unpack them from the dictionaries to lists of genres
# same for spoken_languages and production_countries

# Actors, Writers - I guess we should replace them with info from credits dataset - TODO

### Exploratory data analysis (EDA)

#### 1. Analysis of features / Feature Engineering

We're going to predict movie success so the definition of success according to the dataset can be defined though 3 metrics:
* revenue
* awards
* popularity/rating

So every piece of metadata which is not related to multidimensional SUCCESS - revenue, awards and popularity/rating will be our features. Let's look at them and get rid of obvious dublications that appeared because we merged 2 datasets

#### 2. Analysis of target variables