In [137]:
import pandas as pd

### Data Preparation and Cleaning

The dataset is combined from TMDB API and OMDB API.

You can look at the scraping process in scrape_data.ipynb

In [138]:
# The dataset is combined from TMDB API and OMDB API.
# You can look at the scraping process in scrape_data.ipynb
df = pd.read_parquet('../data/movies.parquet')

Let's take a look at the shape, features that are available to us and preview the data

Dataset is X movies with 58 metadata columns/features.

In [139]:
print(df.shape)
print(df.columns)
df.head(10)

(5760, 59)
Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'Title', 'Year', 'Rated', 'Released',
       'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language',
       'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'totalSeasons', 'Response', 'DVD',
       'BoxOffice', 'Production', 'Website', 'belongs_to_collection.id',
       'belongs_to_collection.name', 'belongs_to_collection.poster_path',
       'belongs_to_collection.backdrop_path', 'Season', 'Episode', 'seriesID',
       'Error'],
      dtype='object')

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,Production,Website,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,Season,Episode,seriesID,Error
0,False,None,NaN,0,"[{'id': 18, 'name': 'Drama'}]",,4501,tt0335663,de,Der Fall Rohrbach,...,None,None,NaN,None,None,None,None,None,None,None
1,False,/7u6P46nr6vNua00DmKOyzfrqTv1.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,4507,tt0104545,es,"Jamón, jamón",...,N/A,N/A,NaN,None,None,None,None,None,None,None
2,False,/5r2BZajlRZqnOc6s2BS0aiFDcne.jpg,NaN,30000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://jessejamesmovie.warnerbros.com/,4512,tt0443680,en,The Assassination of Jesse James by the Coward...,...,N/A,N/A,NaN,None,None,None,None,None,None,None
3,False,/w8VDpCcKezdBbXJEWMHwttI35mU.jpg,NaN,30000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.30daysofnight.com/,4513,tt0389722,en,30 Days of Night,...,N/A,N/A,91660.0,30 Days of Night Collection,/fRAZnIegztYTPsM9eGjSUusKUYM.jpg,/uKN4mENg8BVeKCxwWXGCvFeUim8.jpg,None,None,None,None
4,False,/jWZqmct37aYQKB6TU9IaTg6346G.jpg,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",,4515,tt0891527,en,Lions for Lambs,...,N/A,N/A,NaN,None,None,None,None,None,None,None
5,False,/3CEKwdKVLfSCzeAOpqVLquLwGQQ.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://www.monmeilleurami-lefilm.com/,4516,tt0778784,fr,Mon Meilleur Ami,...,N/A,N/A,NaN,None,None,None,None,None,None,None
6,False,/7NvMR6ihwuH8aXQ8PnVxSpxaMxV.jpg,NaN,55000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,4517,tt0414055,en,Elizabeth: The Golden Age,...,N/A,N/A,100286.0,Elizabeth Collection,/2XxIeKB6g21GvPmixWyyc9ZlLnR.jpg,/3YiTOxGX5KZO6P3eg41P50QrRhQ.jpg,None,None,None,None
7,False,/cCzvJ95pEB1I5cUX7Zjfl606noN.jpg,NaN,30000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",,4518,tt0127536,en,Elizabeth,...,N/A,N/A,100286.0,Elizabeth Collection,/2XxIeKB6g21GvPmixWyyc9ZlLnR.jpg,/3YiTOxGX5KZO6P3eg41P50QrRhQ.jpg,None,None,None,None
8,False,/ii3WNOfgEp62jkJAHAOJyYwRfhl.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,4519,tt0825244,fr,Dialogue avec mon jardinier,...,N/A,N/A,NaN,None,None,None,None,None,None,None
9,False,/7Pc719slk1WDC4fH1pk28pdPemv.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",http://www.sonyclassics.com/sleuth/,4520,tt0857265,en,Sleuth,...,N/A,N/A,NaN,None,None,None,None,None,None,None

In [140]:
df.describe()

,belongs_to_collection,budget,id,popularity,revenue,runtime,vote_average,vote_count,belongs_to_collection.id
count,0.0,5.760000e+03,5760.000000,5760.000000,5.760000e+03,5760.000000,5760.000000,5760.000000,1.176000e+03
mean,NaN,1.488827e+07,5399.694271,14.410539,4.516967e+07,103.435764,6.046570,1173.774826,2.163804e+05
std,NaN,2.967762e+07,3533.584911,16.295273,1.130256e+08,26.307339,1.726494,2591.248658,2.942376e+05
min,NaN,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+01
25%,NaN,0.000000e+00,2101.750000,3.641000,0.000000e+00,90.000000,5.665750,23.000000,9.436000e+03
50%,NaN,0.000000e+00,5066.500000,11.372000,0.000000e+00,100.000000,6.400000,241.000000,9.745950e+04
75%,NaN,1.760000e+07,9091.250000,18.683750,3.676167e+07,114.000000,7.030000,1090.750000,2.615900e+05
max,NaN,3.790000e+08,10832.000000,302.315000,2.264162e+09,460.000000,10.000000,30664.000000,1.177319e+06

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5760 entries, 0 to 6009
Data columns (total 59 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   adult                                5760 non-null   bool
 1   backdrop_path                        5004 non-null   object
 2   belongs_to_collection                0 non-null      float64
 3   budget                               5760 non-null   int64
 4   genres                               5760 non-null   object
 5   homepage                             5760 non-null   object
 6   id                                   5760 non-null   int64
 7   imdb_id                              5760 non-null   object
 8   original_language                    5760 non-null   object
 9   original_title                       5760 non-null   object
 10  overview                             5760 non-null   object
 11  popularity                           5760 non-null   float64
 12  poster_path                          5529 non-null   object
 13  production_companies                 5760 non-null   object
 14  production_countries                 5760 non-null   object
 15  release_date                         5760 non-null   object
 16  revenue                              5760 non-null   int64
 17  runtime                              5760 non-null   int64
 18  spoken_languages                     5760 non-null   object
 19  status                               5760 non-null   object
 20  tagline                              5760 non-null   object
 21  title                                5760 non-null   object
 22  video                                5760 non-null   bool
 23  vote_average                         5760 non-null   float64
 24  vote_count                           5760 non-null   int64
 25  Title                                5758 non-null   object
 26  Year                                 5758 non-null   object
 27  Rated                                5758 non-null   object
 28  Released                             5758 non-null   object
 29  Runtime                              5758 non-null   object
 30  Genre                                5758 non-null   object
 31  Director                             5758 non-null   object
 32  Writer                               5758 non-null   object
 33  Actors                               5758 non-null   object
 34  Plot                                 5758 non-null   object
 35  Language                             5758 non-null   object
 36  Country                              5758 non-null   object
 37  Awards                               5758 non-null   object
 38  Poster                               5758 non-null   object
 39  Ratings                              5758 non-null   object
 40  Metascore                            5758 non-null   object
 41  imdbRating                           5758 non-null   object
 42  imdbVotes                            5758 non-null   object
 43  imdbID                               5758 non-null   object
 44  Type                                 5758 non-null   object
 45  totalSeasons                         19 non-null     object
 46  Response                             5760 non-null   object
 47  DVD                                  5727 non-null   object
 48  BoxOffice                            5727 non-null   object
 49  Production                           5727 non-null   object
 50  Website                              5727 non-null   object
 51  belongs_to_collection.id             1176 non-null   float64
 52  belongs_to_collection.name           1176 non-null   object
 53  belongs_to_collection.poster_path    1132 non-null   object
 54  belongs_to_collection.backdrop_path  1049 non-null   object
 55  Season                               12 non-null     object
 56  Episode                              12 non-null     object
 57  seriesID                             12 non-null     object
 58  Error                                2 non-null      object
dtypes: bool(2), float64(4), int64(5), object(48)
memory usage: 2.6+ MB

Let's have a look at columns and select only relevant ones

In [142]:
# title vs original title: so we can see that original_title is in the native language, so we can drop it and leave only title
df[df['original_title'] != df['title']][['title', 'original_title']].head(10)

,title,original_title
1,Jamon Jamon,"Jamón, jamón"
5,My Best Friend,Mon Meilleur Ami
8,Conversations with My Gardener,Dialogue avec mon jardinier
11,"Death Is Nimble, Death Is Quick",Kommissar X - Drei gelbe Katzen
12,"Kiss Kiss, Kill Kill",Kommissar X - Jagd auf Unbekannt
13,The Count of Monte Cristo,Le Comte de Monte-Cristo
14,The Defector,L'espion
15,"So Darling, So Deadly",Kommissar X - In den Klauen des goldenen Drachen
16,Kill Me Gently,Kommissar X - Drei grüne Hunde
17,"Kill, Panther, Kill!",Kommissar X - Drei blaue Panther

In [143]:
# status of the movie, we will actually need only released movie so the data should be filtered
print(df['status'].value_counts())
df = df[df['status'].str.lower() == 'released']

status
Released           5756
Post Production       2
Planned               1
Canceled              1
Name: count, dtype: int64

In [144]:
# We have too many False in adult columns and mostly NULL values in belongs_to_collection.
# Those 2 features are not of much use to us
print(df['adult'].value_counts())
print(df['belongs_to_collection'].value_counts())

adult
False    5744
True       12
Name: count, dtype: int64
Series([], Name: count, dtype: int64)

In [145]:
df.head().transpose()

,0,1,2,3,4
adult,False,False,False,False,False
backdrop_path,None,/7u6P46nr6vNua00DmKOyzfrqTv1.jpg,/5r2BZajlRZqnOc6s2BS0aiFDcne.jpg,/w8VDpCcKezdBbXJEWMHwttI35mU.jpg,/jWZqmct37aYQKB6TU9IaTg6346G.jpg
belongs_to_collection,NaN,NaN,NaN,NaN,NaN
budget,0,0,30000000,30000000,35000000
genres,"[{'id': 18, 'name': 'Drama'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
homepage,,,http://jessejamesmovie.warnerbros.com/,http://www.30daysofnight.com/,
id,4501,4507,4512,4513,4515
imdb_id,tt0335663,tt0104545,tt0443680,tt0389722,tt0891527
original_language,de,es,en,en,en
original_title,Der Fall Rohrbach,"Jamón, jamón",The Assassination of Jesse James by the Coward...,30 Days of Night,Lions for Lambs
overview,,Jose Luis is an executive at his parents under...,Outlaw Jesse James is rumored to be the 'faste...,This is the story of an isolated Alaskan town ...,Three stories told simultaneously in ninety mi...
popularity,1.093,16.879,22.557,31.847,12.706
poster_path,None,/wAucj0pm9eGaC8nx01pbdyvK4VS.jpg,/2d1S6fJS80fvseg6mJE8eq5o7Kx.jpg,/7LwSrvFA0gz1KAlcrGcinoQPene.jpg,/rvpxNsR0n4zh40WM6MiUlkV60on.jpg
production_companies,[],"[{'id': 21147, 'logo_path': None, 'name': 'Oví...","[{'id': 81, 'logo_path': '/8wOfUhA7vwU2gbPjQy7...","[{'id': 24339, 'logo_path': None, 'name': 'Hor...","[{'id': 44, 'logo_path': None, 'name': 'Cruise..."
production_countries,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]","[{'iso_3166_1': 'ES', 'name': 'Spain'}]","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'NZ', 'name': 'New Zealand'}, ...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1963-05-08,1992-09-03,2007-09-20,2007-10-17,2007-10-22
revenue,0,0,14711793,75505973,64811540
runtime,270,95,160,113,92
spoken_languages,"[{'english_name': 'German', 'iso_639_1': 'de',...","[{'english_name': 'Spanish', 'iso_639_1': 'es'...","[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'...","[{'english_name': 'English', 'iso_639_1': 'en'..."
status,Released,Released,Released,Released,Released
tagline,,A film where women eat men and men eat ham,Beyond the myth lies America's greatest betrayal,They're Coming!,"If you don't STAND for something, you might FA..."
title,Der Fall Rohrbach,Jamon Jamon,The Assassination of Jesse James by the Coward...,30 Days of Night,Lions for Lambs
video,False,False,False,False,False
vote_average,0.0,6.221,7.049,6.4,6.021
vote_count,0,306,2276,2511,681
Title,Der Fall Rohrbach,"Jamón, Jamón",The Assassination of Jesse James by the Coward...,30 Days of Night,Lions for Lambs
Year,1963–,1992,2007,2007,2007
Rated,N/A,R,R,R,R
Released,08 May 1963,04 Feb 1994,19 Oct 2007,19 Oct 2007,09 Nov 2007
Runtime,270 min,95 min,160 min,113 min,92 min
Genre,N/A,"Comedy, Drama, Romance","Biography, Crime, Drama","Action, Adventure, Horror","Crime, Drama, Mystery"
Director,N/A,Bigas Luna,Andrew Dominik,David Slade,Robert Redford
Writer,N/A,"Cuca Canals, Bigas Luna, Quim Monzó","Andrew Dominik, Ron Hansen","Steve Niles, Stuart Beattie, Brian Nelson",Matthew Michael Carnahan
Actors,"Anita Höfer, Eva Christian, Harry Riebauer","Penélope Cruz, Stefania Sandrelli, Anna Galiena","Brad Pitt, Casey Affleck, Sam Shepard","Josh Hartnett, Melissa George, Danny Huston","Tom Cruise, Meryl Streep, Robert Redford"
Plot,N/A,"When a mother disapproves of her son's lover, ...","Robert Ford, who's idolized Jesse James since ...",After an Alaskan town is plunged into darkness...,Injuries sustained by two Army rangers behind ...
Language,German,Spanish,"English, Danish",English,English
Country,West Germany,Spain,"United States, Canada, United Kingdom","United States, New Zealand",United States
Awards,N/A,6 wins & 12 nominations,Nominated for 2 Oscars. 25 wins & 69 nominatio...,14 nominations,3 nominations
Poster,N/A,https://m.media-amazon.com/images/M/MV5BODY0N2...,https://m.media-amazon.com/images/M/MV5BMTY2ND...,https://m.media-amazon.com/images/M/MV5BZmE2OD...,https://m.media-amazon.com/images/M/MV5BMTcyMz...
Ratings,"[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'...","[{'Source': 'Internet Movie Database', 'Value'..."
Metascore,N/A,N/A,68,53,47
imdbRating,9.1,6.4,7.5,6.6,6.2
imdbVotes,15,"14,634","189,145","185,010","51,661"
imdbID,tt0335663,tt0104545,tt0443680,tt0389722,tt0891527
Type,series,movie,movie,movie,movie
totalSeasons,1,None,None,None,None
Response,True,True,True,True,True
DVD,None,24 Apr 2019,01 Dec 2009,12 Feb 2014,17 Oct 2016
BoxOffice,None,"$938,473","$3,909,149","$39,569,000","$15,002,854"
Production,None,N/A,N/A,N/A,N/A
Website,None,N/A,N/A,N/A,N/A
belongs_to_collection.id,NaN,NaN,NaN,91660.0,NaN
belongs_to_collection.name,None,None,None,30 Days of Night Collection,None
belongs_to_collection.poster_path,None,None,None,/fRAZnIegztYTPsM9eGjSUusKUYM.jpg,None
belongs_to_collection.backdrop_path,None,None,None,/uKN4mENg8BVeKCxwWXGCvFeUim8.jpg,None
Season,None,None,None,None,None
Episode,None,None,None,None,None
seriesID,None,None,None,None,None
Error,None,None,None,None,None

In [146]:
# we have release_date column which have day, month and year so other date related columns as Year and Released can be dropped
df[df['release_date'].isnull()].shape #- zero NULL values

(0, 59)

In [147]:
# let's look at how many NULLs other fields contain
var = df.isnull().sum()
print(var.to_string())

adult                                     0
backdrop_path                           752
belongs_to_collection                  5756
budget                                    0
genres                                    0
homepage                                  0
id                                        0
imdb_id                                   0
original_language                         0
original_title                            0
overview                                  0
popularity                                0
poster_path                             228
production_companies                      0
production_countries                      0
release_date                              0
revenue                                   0
runtime                                   0
spoken_languages                          0
status                                    0
tagline                                   0
title                                     0
video                                     0
vote_average                              0
vote_count                                0
Title                                     0
Year                                      0
Rated                                     0
Released                                  0
Runtime                                   0
Genre                                     0
Director                                  0
Writer                                    0
Actors                                    0
Plot                                      0
Language                                  0
Country                                   0
Awards                                    0
Poster                                    0
Ratings                                   0
Metascore                                 0
imdbRating                                0
imdbVotes                                 0
imdbID                                    0
Type                                      0
totalSeasons                           5737
Response                                  0
DVD                                      31
BoxOffice                                31
Production                               31
Website                                  31
belongs_to_collection.id               4580
belongs_to_collection.name             4580
belongs_to_collection.poster_path      4624
belongs_to_collection.backdrop_path    4707
Season                                 5744
Episode                                5744
seriesID                               5744
Error                                  5756

In [148]:
# we will need only movies, because others are incompariable categories
print(df['Type'].value_counts())
df[df['Type'].str.lower() == 'series'][['title', 'original_title']]
df = df[df['Type'].str.lower() == 'movie']

Type
movie      5725
series       19
episode      12
Name: count, dtype: int64

Let's summaries our findings on columns

| Column | Meaning | Take as a feature? | Why? | 
| :- | :- | :- | :- |
| adult | if the movie is X-Rated or Adult | No | too many identical values (False), not usefull |
| backdrop_path | path to image | No | not usefull |
| belongs_to_collection | the movie series the particular film belongs to | No | almost all NULL |
| genres | the genres associated with the movie | Yes | - |
| homepage | path to the movie homepage | No | not usefull |
| id | TMDB id | No | not usefull |
| imdb_id | IMDB id | No | not usefull |
| original_language | the language in which the movie was originally shot in | Yes | - |
| original_title | The original title of the movie in the native language | No | not usefull |
| overview | short description of the movie | Yes | - |
| poster_path | path to image | No | not usefull |
| production_companies | list of production companies involved with the making of the movie | Yes | - |
| production_countries | list of countries where the movie was shot/produced in | Yes | - |
| release_date |  | Yes | - |
| runtime | the runtime of the movie in minutes | Yes | - |
| spoken_languages | list of spoken languages in the film | Yes | - |
| status | status of the movie | No | we take only Released status |
| tagline | tagline of the movie | Yes | - |
| status | status of the movie | No | we take only Released status |
| title | title of the movie | Yes | - |
| video | Indicates if there is a video present of the movie with TMDB | No | not usefull |
| vote_count | number of votes by users, as counted by TMDB | Yes | - |
| Title |  | No | duplicate of title |
| Year |  | No | duplicate of year in the release_date |
| Rated | MPA film rating | Yes | - |
| Released |  | No | duplicate of release_date |
| Runtime |  | No | duplicate of runtime |
| Genre |  | No | duplicate of genres |
| Plot |  | Yes | - |
| Language |  | No | duplicate of original_language |
| Country |  | No | duplicate of production_countries |
| Poster | path to poster image | No | not usefull |
| imdbVotes | count of voutes | Yes | - |
| imdbID | IMDB id | No | not usefull |
| Type | status of the movie | No | we filtered only movie type |
| totalSeasons |  | No | Not relevant |
| Season |  | No | Not relevant |
| Episode |  | No | Not relevant |
| seriesID |  | No | Not relevant |
| Error |  | No | Not relevant |
| belongs_to_collection.id|  | No | Almost all rows are NULL |
| belongs_to_collection.name|  | No | Almost all rows are NULL |
| belongs_to_collection.poster_path|  | No | Almost all rows are NULL |
| belongs_to_collection.backdrop_path|  | No | Almost all rows are NULL |
| DVD | the date when the movie was released on dvd | No | Not useful |
| Website | link | No | Not useful |
| BoxOffice |  | No | We have revenue column plus too many NULLS |
| Production |  | No | We have production_companies column |
| Response | link | No | Not relevant |
| Ratings | list of ratings in different system - metacritic (in Metascore), rotten tomatoes, imdb (in imdbRating) | Yes | |
| Metascore | metacritic rating | Yes | - |
| imdbRating | imdb raiting | Yes | - |
| vote_average | average rating of the movie by TMDB | Yes | - |
| popularity | popularity Score assigned by TMDB | Yes | - |
| budget | the budget of the movie in dollars | Yes | - |
| revenue | the total revenue of the movie in dollars | Yes | - |
| Awards |  | Yes | - |

In [218]:
# 'Director', 'Writer', 'Actors',
dataset_df = df[['title', 'release_date', "original_language" , 'spoken_languages', 'genres',
                       'production_companies',  'production_countries', 'runtime', 'Rated', 'tagline', 'overview', 'Plot',
                       'budget', 'revenue', 'popularity', 'vote_average', 'vote_count',
                         'Awards', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes']].copy()

# Standardize column names
dataset_df.columns = dataset_df.columns.str.lower().str.replace(' ', '_')
dataset_df.rename(columns={"popularity": "tmdb_popularity", "vote_average": "tmdb_vote_average",
                     "vote_count": "tmdb_vote_count", 'metascore': 'metacritic_rating',
                     "imdbrating": "imdb_rating", 'imdbvotes': 'imdb_votes'}, inplace=True)

# let's unpack values from the dictionaries to lists for columns: genres, production_companies, production_countries, spoken_languages
# same for spoken_languages and production_countries
dataset_df['genres'] = dataset_df['genres'].apply(lambda x: ','.join([d['name'] for d in x]))
dataset_df['production_companies'] = dataset_df['production_companies'].apply(lambda x: ','.join([d['name'] for d in x]))
dataset_df['production_countries'] = dataset_df['production_countries'].apply(lambda x: ','.join([d['iso_3166_1'] for d in x]))
dataset_df['spoken_languages'] = dataset_df['spoken_languages'].apply(lambda x: ','.join([d['iso_639_1'] for d in x]))

#let's extract rotten tomatoes rating from Ratings column
# and convert other ratings to numeric values

def extract_rating(ratings, source):
    for rating in ratings:
        if rating['Source'] == source:
            return rating['Value']
    return None

dataset_df['rotten_tomatoes_rating'] = dataset_df['ratings'].apply(lambda x: extract_rating(x, 'Rotten Tomatoes')) 
dataset_df['rotten_tomatoes_rating'] = dataset_df['rotten_tomatoes_rating'].str.replace('%', '')

dataset_df['imdb_rating'] = pd.to_numeric(dataset_df['imdb_rating'], errors='coerce')
dataset_df['imdb_votes'] = dataset_df['imdb_votes'].str.replace(',', '')
dataset_df['imdb_votes'] = pd.to_numeric(dataset_df['imdb_votes'], errors='coerce')
dataset_df['rotten_tomatoes_rating'] = pd.to_numeric(dataset_df['rotten_tomatoes_rating'], errors='coerce')
dataset_df['metacritic_rating'] = pd.to_numeric(dataset_df['metacritic_rating'], errors='coerce')

# get relase year and release month
dataset_df['release_month'] = pd.to_datetime(dataset_df['release_date']).dt.month
dataset_df['release_year'] = pd.to_datetime(dataset_df['release_date']).dt.year
dataset_df.drop(['release_date', 'ratings'], axis=1, inplace=True)

# lower all values in categorical columns
categorical_vars = list(dataset_df.dtypes[dataset_df.dtypes == 'object'].index)
for c in categorical_vars:
    dataset_df[c] = dataset_df[c].str.lower()

pd.set_option('display.max_columns', None)
dataset_df.head(2)

,title,original_language,spoken_languages,genres,production_companies,production_countries,runtime,rated,tagline,overview,plot,budget,revenue,tmdb_popularity,tmdb_vote_average,tmdb_vote_count,awards,metacritic_rating,imdb_rating,imdb_votes,rotten_tomatoes_rating,release_month,release_year
1,jamon jamon,es,es,"comedy,drama,romance","ovídeo tv s.a.,sogepaq,lolafilms",es,95,r,a film where women eat men and men eat ham,jose luis is an executive at his parents under...,"when a mother disapproves of her son's lover, ...",0,0,16.88,6.22,306,6 wins & 12 nominations,NaN,6.40,14634.00,69.00,9,1992
2,the assassination of jesse james by the coward...,en,en,"action,drama,western","plan b entertainment,virtual studios,scott fre...","ca,gb,us",160,r,beyond the myth lies america's greatest betrayal,outlaw jesse james is rumored to be the 'faste...,"robert ford, who's idolized jesse james since ...",30000000,14711793,22.56,7.05,2276,nominated for 2 oscars. 25 wins & 69 nominatio...,68.00,7.50,189145.00,77.00,9,2007

In [165]:
# let's look at awards column
dataset_df[['awards']].to_csv("1.csv")

So if you open the csv file you might notice the following patterns:

    - n/a
    - X win/wins
    - Y nomination/nominations
    - X win/wins & Y nomination/nominations
    - nominated for A oscar/oscars. X win/wins & Y nomination/nominations total
    - won A oscar/oscars. 1X win/wins & Y nomination/nominations total
    - nominated for B bafta X win/wins & Y nomination/nominations total'
    - won B bafta X win/wins & Y nomination/nominations total
    - won E primetime emmy. X win/wins & Y nomination/nominations total
    - nominated for E primetime emmys

Let's use regex and unpack those values to the separate columns but before this transformation we should add another filter on the dataset. I noticed "emmy" award so we should check genres and filter the dataset on those which are different categories of movies in terms of budget or awards.

In [200]:
# need to check genres
import pandas as pd
from collections import Counter
import ast  # if needed to convert string representation of list to list

genres_df = dataset_df.copy()
genres_df['genres'] = genres_df['genres'].str.split(',')
# Flatten the list of lists and count the occurrences of each country code
genre_counter = Counter(genre for genre_list in genres_df['genres'].dropna() for genre in genre_list)
# Convert the Counter object to a DataFrame for easier viewing and analysis
genre_frequencies = pd.DataFrame(genre_counter.items(), columns=['genres', 'frequency'])

# Sort the DataFrame by frequency
genre_frequencies = genre_frequencies.sort_values(by='frequency', ascending=False).reset_index(drop=True)
genre_frequencies

             genres  frequency
0             drama       2763
1            comedy       1982
2          thriller       1286
3            action       1029
4             crime        934
5           romance        920
6         adventure        714
7            horror        621
8   science fiction        575
9           fantasy        417
10          mystery        406
11           family        318
12          history        258
13              war        191
14      documentary        172
15        animation        163
16            music        149
17         tv movie        122
18          western        111
19                          18

In [201]:
print(dataset_df.shape)

(5725, 23)

So we have 172 movie with Documentary, 122 where tv movie is mentioned and 18 movies without genre. Let's look at them and count total amount of row

In [202]:
# Filter rows where 'tv movie' or 'documentary' is in the 'Genres' column
outliers = dataset_df[dataset_df['genres'].apply(lambda x: 'tv movie' in x or 'documentary' in x or not x)][['title', 'awards', 'genres']]
print(outliers.shape)
outliers

(312, 3)

,title,awards,genres
19,the world's biggest penis,n/a,documentary
22,hearts of darkness: a filmmaker's apocalypse,won 2 primetime emmys. 8 wins & 5 nominations ...,documentary
28,the count of monte-cristo,nominated for 2 primetime emmys. 2 nominations...,"adventure,action,drama,history,tv movie"
80,read it and weep,2 nominations,"family,comedy,drama,tv movie"
90,arctic tale,1 win & 1 nomination,"documentary,family"
138,here we come,1 nomination,"documentary,music"
143,heart of darkness,won 1 primetime emmy. 3 wins & 3 nominations t...,"drama,tv movie"
195,dungeons & dragons: wrath of the dragon god,n/a,"action,adventure,fantasy,tv movie"
212,microcosmos,9 wins & 9 nominations,documentary
269,super size me,nominated for 1 oscar. 7 wins & 13 nominations...,documentary
352,woodstock,won 1 oscar. 2 wins & 2 nominations total,"documentary,history,music"
360,margarete steiff,3 wins & 4 nominations,"drama,tv movie"
398,the basque ball: skin against stone,2 wins & 3 nominations,"documentary,history"
414,der lange weg ans licht,n/a,documentary
419,he's not your son,n/a,"drama,tv movie"
442,mail to the chief,1 nomination.,"comedy,family,tv movie"
444,der butler und die prinzessin,1 nomination,"comedy,tv movie"
456,dancing with danger,n/a,"thriller,tv movie"
467,mord am meer,2 wins & 5 nominations,"thriller,tv movie,crime,drama"
468,gegenschuss - aufbruch der filmemacher,1 win & 1 nomination,documentary
509,cry of the innocent,n/a,"action,crime,drama,thriller,tv movie"
527,miracle on ice,1 win,"action,drama,family,tv movie"
528,for those who hunt the wounded down,3 wins & 3 nominations,"tv movie,thriller"
534,samaritan: the mitch snyder story,1 win,"drama,tv movie"
537,"walker, texas ranger: trial by fire",n/a,"action,thriller,tv movie"
559,horse sense,1 nomination,"drama,family,tv movie"
561,the crooked hearts,n/a,"crime,comedy,tv movie"
628,nanook of the north,2 wins,documentary
636,olympia part one: festival of the nations,2 wins,documentary
642,olympia part two: festival of beauty,1 win,documentary
...,...,...,...
5560,freiwild - ein würzburg-krimi,n/a,"crime,drama,tv movie"
5584,standard operating procedure,2 wins & 18 nominations,documentary
5595,someday my prince will come,n/a,documentary
5612,waltz with bashir,nominated for 1 oscar. 46 wins & 63 nomination...,"drama,animation,war,documentary"
5620,it's hard being loved by jerks,2 nominations,documentary
5634,maradona by kusturica,n/a,documentary
5636,silberdisteln,n/a,"tv movie,crime,comedy,family"
5647,i want to see,1 win & 3 nominations,"documentary,drama,history"
5649,modern life,1 win & 3 nominations,documentary
5658,tyson,1 win & 10 nominations,"documentary,drama"
5669,white man with black bread,1 nomination,documentary
5683,the society of the spectacle,n/a,documentary
5690,visions of europe,n/a,"documentary,comedy,drama"
5707,biùtiful cauntri,3 wins & 2 nominations,documentary
5709,"küss mich, wenn es liebe ist",n/a,"tv movie,comedy,romance"
5712,carrie,2 nominations,"horror,drama,tv movie"
5729,frühstück mit einer unbekannten,n/a,"romance,drama,tv movie"
5753,queens don’t cry,1 nomination,documentary
5754,"pfui, rosa!",n/a,documentary
5755,cows knocked up by fog,n/a,documentary
5792,a hero's death,1 win,documentary
5799,shadow realm,n/a,"horror,thriller,tv movie"
5861,destination saturn,n/a,"science fiction,tv movie"
5871,el camino de las hormigas,1 win,documentary
5940,railway station,n/a,documentary
5941,short working day,n/a,"drama,tv movie"
5945,gimme shelter,3 wins & 1 nomination,"documentary,music"
5946,primary,1 win,documentary
5948,bob dylan - dont look back,4 wins,"documentary,music"
5972,the arrival of a train at la ciotat,n/a,documentary

Let's filter those rows

In [219]:
dataset_df = dataset_df[dataset_df['genres'].apply(lambda x: 'tv movie' not in x and 'documentary' not in x )]
dataset_df = dataset_df[dataset_df['genres'].apply(lambda x: len(x) > 0)]
print(dataset_df.shape)

(5413, 23)

Now we can use regex on awards column.

In [220]:
import re


pattern = {'oscar_won': re.compile(r'won (\d+) oscar', re.IGNORECASE),
           'oscar_nominated': re.compile(r'nominated for (\d+) oscar', re.IGNORECASE),
           'bafta_won': re.compile(r'won (\d+) bafta', re.IGNORECASE),
           'bafta_nominated': re.compile(r'nominated for (\d+) bafta', re.IGNORECASE),
           'awards_won': re.compile(r'(\d+)\s*win', re.IGNORECASE),
           'awards_nominated': re.compile(r'(\d+)\s*nomination', re.IGNORECASE)}
dataset_df['awards'] = dataset_df['awards'].str.replace('n/a', '')
for k, v in pattern.items():
# Use str.extract() to extract the number of Oscars won
    dataset_df[k] = dataset_df['awards'].str.extract(v).fillna(0).astype(int)

dataset_df.drop('awards', axis=1, inplace=True)

Let's have a look at money metadata in the dataset. We have budget column and revenue columns. So there are a few observation:

    - movie should have budget and revenue as not 0 otherwise it's hard to unstarstand if it's successfull or not
    - we should create a metric above those 2 columns - ROI - return on investment which is calculated as the ratio of the net profit to the investment amount.  Formula (revenue - budget) / budget * 100%
    - we should consider normalizing revenue figures for inflation. I'm going to use historical inflation data to adjust the budget and revenue figures to today's dollars before calculating the ROI. This would provide a more accurate comparison of the financial success of movies over time. I found historical inflation rates here https://www.kaggle.com/datasets/pavankrishnanarne/us-inflation-dataset-1947-present/data. The dataset starts from 1947 so we should filter our movies starting from 1947.

In [221]:
cpi_data = pd.read_csv('../US_inflation_rates.csv', names=['date', 'CPI'], skiprows=1)  # Your CPI data

# Convert the 'date' column to datetime format and extract the year and month
cpi_data['date'] = pd.to_datetime(cpi_data['date'], format='%Y-%m-%d')
cpi_data['year'] = cpi_data['date'].dt.year
cpi_data['month'] = cpi_data['date'].dt.month

# Merge the datasets on year and month
merged_data = pd.merge(dataset_df, cpi_data, left_on=['release_year', 'release_month'], right_on=['year', 'month'], how='left')

# filter movies with unknown budget or revenue
merged_data = merged_data[(merged_data['budget'] != 0) & (merged_data['revenue'] != 0)]

# Find the most recent year and month in the dataset
max_year = cpi_data['year'].max()
max_month = cpi_data[cpi_data['year'] == max_year]['month'].max()

# Get the CPI value for the target year and month
target_cpi = cpi_data[(cpi_data['year'] == max_year) & (cpi_data['month'] == max_month)]['CPI'].values[0]

# Calculate the adjustment factor
merged_data['adjustment_factor'] = target_cpi / merged_data['CPI']

# Adjust the budget and revenue columns
merged_data['adjusted_budget'] = merged_data['budget'] * merged_data['adjustment_factor']
merged_data['adjusted_revenue'] = merged_data['revenue'] * merged_data['adjustment_factor']

# Set the float format to display the entire number
pd.options.display.float_format = '{:.2f}'.format

merged_data['adjusted_ROI'] = ((merged_data['adjusted_revenue'] - merged_data['adjusted_budget']) / merged_data['adjusted_budget']) * 100
#dataset_df = merged_data[merged_data['release_year'] >= 1947].drop(['year', 'month', 'date', 'CPI', 'adjustment_factor', 'budget', 'revenue', 'adjusted_revenue', 'adjusted_budget'], axis=1)
dataset_df = merged_data[merged_data['release_year'] >= 1947].drop(['year', 'month', 'date', 'CPI', 'adjustment_factor', 'budget', 'revenue'], axis=1)

In [222]:
dataset_df.head(10)

,title,original_language,spoken_languages,genres,production_companies,production_countries,runtime,rated,tagline,overview,plot,tmdb_popularity,tmdb_vote_average,tmdb_vote_count,metacritic_rating,imdb_rating,imdb_votes,rotten_tomatoes_rating,release_month,release_year,oscar_won,oscar_nominated,bafta_won,bafta_nominated,awards_won,awards_nominated,adjusted_ROI
1,the assassination of jesse james by the coward...,en,en,"action,drama,western","plan b entertainment,virtual studios,scott fre...","ca,gb,us",160,r,beyond the myth lies america's greatest betrayal,outlaw jesse james is rumored to be the 'faste...,"robert ford, who's idolized jesse james since ...",22.56,7.05,2276,68.00,7.50,189145.00,77.00,9,2007,0,2,0,0,25,69,-50.96
2,30 days of night,en,en,"horror,thriller","horrorflix,columbia pictures,ghost house pictu...","nz,us",113,r,they're coming!,this is the story of an isolated alaskan town ...,after an alaskan town is plunged into darkness...,31.85,6.40,2511,53.00,6.60,185010.00,51.00,10,2007,0,0,0,0,0,14,151.69
3,lions for lambs,en,en,"action,adventure,drama,history","cruise/wagner productions,united artists,wildw...",us,92,r,"if you don't stand for something, you might fa...",three stories told simultaneously in ninety mi...,injuries sustained by two army rangers behind ...,12.71,6.02,681,47.00,6.20,51661.00,27.00,10,2007,0,0,0,0,0,3,85.18
5,elizabeth: the golden age,en,"sv,en,es","drama,history,romance","universal pictures,studiocanal,working title f...","fr,us,gb",114,pg-13,woman. warrior. queen.,when queen elizabeth's reign is threatened by ...,a mature queen elizabeth endures multiple cris...,16.43,6.71,1134,45.00,6.80,73898.00,35.00,9,2007,1,0,0,0,8,33,34.98
6,elizabeth,en,"fr,en","drama,history","polygram filmed entertainment,working title fi...","gb,us",124,r,declared illegitimate aged 3. tried for treaso...,the story of the ascension to the throne and t...,the early years of the reign of elizabeth i of...,14.31,7.20,1277,75.00,7.40,103325.00,83.00,9,1998,1,0,0,0,35,56,173.84
9,enchanted,en,en,"comedy,family,fantasy,romance","walt disney pictures,josephson entertainment,a...",us,107,pg,this fairytale princess is about to meet a rea...,the beautiful princess giselle is banished by ...,"a young maiden in a land called andalasia, who...",36.64,6.81,5093,75.00,7.10,213201.00,93.00,11,2007,0,3,0,0,12,51,300.57
19,the darjeeling limited,en,"en,hi,de,bo","adventure,drama,comedy","fox searchlight pictures,scott rudin productio...",us,92,r,"i want us to be brothers again, like we used t...",three american brothers who have not spoken to...,"a year after their father's funeral, three bro...",20.27,7.17,3253,67.00,7.20,211731.00,69.00,9,2007,0,0,0,0,4,3,52.36
23,monty python's the meaning of life,en,en,comedy,"celandine films,the monty python partnership,u...",gb,107,r,"it took god six days to create the earth, and ...",life's questions are 'answered' in a series of...,the comedy team takes a look at life in all of...,12.33,7.32,1695,72.00,7.50,123680.00,86.00,3,1983,0,0,0,1,1,2,66.11
25,panic room,en,en,"crime,drama,thriller","columbia pictures,hofflund/polone,indelible pi...",us,111,r,,trapped in their new york brownstone's panic r...,a divorced woman and her diabetic daughter tak...,23.38,6.76,4526,65.00,6.80,289686.00,76.00,3,2002,0,0,0,0,1,9,310.58
27,be cool,en,"en,ru","comedy,crime","double feature films,jersey films,nina saxon f...",us,118,pg-13,everyone is looking for the next big hit.,"disenchanted with the movie industry, chili pa...","disenchanted with the movie industry, chili pa...",14.85,5.44,804,37.00,5.60,71322.00,30.00,3,2005,0,0,0,0,1,13,79.67

### Exploratory data analysis (EDA)

#### 1. Analysis of features / Feature Engineering

We're going to predict movie success so the definition of success according to the dataset can be defined though 3 metrics:
* revenue
* awards
* popularity/rating

So every piece of metadata which is not related to multidimensional SUCCESS - revenue, awards and popularity/rating will be our features. Let's look at them and get rid of obvious dublications that appeared because we merged 2 datasets

#### 2. Analysis of target variables